#background {
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#background2 {
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}


#form-row3 #form-group3 {
	margin-left: 80px;
	margin-right: 50px;
}

#scnd {
	float: right;
	margin-right: 50px;
	margin-top: 20px;
}

#first {
	float: left;
	margin-left: 50px;
	margin-top: 20px;
}

button a {
	text-decoration: none;
	color: white;
}

p {
	text-align: center;
	font-size: 20px;
}

h5 {
	text-align: center;
}
