.background {
	width: 500px;
	height: 500px;
	background-color: white;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#form-row1 #form-group1 {
	margin-top: 70px;
	margin-left: 130px;
	margin-right: 50px;
}

#form-row2 #form-group2 {
	margin-left: 130px;
	margin-right: 50px;
}

h4 {
	padding-top: 50px;
	text-align: center;
}

#scnd {
	float: right;
	margin-right: 50px;
	margin-top: 20px;
}

#first {
	float: left;
	margin-left: 50px;
	margin-top: 20px;
}


button a {
	text-decoration: none;
	color: white;
}