#background {
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#background2 {
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}


#form-row3 #form-group3 {
	margin-left: 80px;
	margin-right: 50px;
}

#scnd {
	float: right;
	margin-right: 50px;
	margin-top: 20px;
}

#first {
	float: left;
	margin-left: 50px;
	margin-top: 20px;
}

button a {
	text-decoration: none;
	color: white;
}

p {
	text-align: center;
	font-size: 20px;
}


/* Scrolling effect */
div .tab-pane {
    overflow: auto;
    white-space: nowrap;
}

div .tab-pane a {
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div .tab-pane a:hover {
    background-color: #777;
}

