body {
    background-color: #f2f2f2;
}

.padding-8 {
    padding-right: 8%;
    padding-left: 8%;
}

.padding-10 {
    padding-right: 30%;
    padding-left: 30%;
}

.top-100 {
    padding-top: 100px;
}

.top-50 {
    padding-top: 50px;
}

.center-text {
    text-align: center;
    margin: auto;
    width: 50%;
}

.center {
    margin: auto;
    width: 50%;
}

a:hover{
	 text-decoration: none;
}