body
{
    margin:10;

}
.image
{
    margin-left:60;
}
.Evaluation-Input-Top
{
    margin: 0;
}
.Academic
{
    width: auto;
}
.Grading
{
    left: 5;
    width: auto;
}
.Top-Evaluation
{
    margin: 5;
}