@import url('https://fonts.googleapis.com/css?family=Mandali');
body { margin: 0; padding: 0; font-family: calibri; background-color: whitesmoke; }

/* ---------------------------------------------------
   NAVBAR
----------------------------------------------------- */

nav { position: fixed; top: 0; left: 0; width: 100%; height: 100px; background: whitesmoke;  box-sizing: border-box; transition: .5s; -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, .25); border-bottom: 3px solid whitesmoke; }
nav.shrink { background: whitesmoke; height: 80px; color: white; }
nav h1 {  float: left; margin-left: 10px; margin-top: 35px; font-family: calisto MT; font-size: 25px; color: darkblue; }
nav.shrink h1 { display: none; }
nav .logo img { float: left; margin-left: 20px; margin-top: 10px; height: 80px; transition: .5s; }
nav .logo img.res { display: none; }
nav.shrink .logo img { height: 60px; margin-left: 10px; }
nav ul { float: right; margin-top: 30px; padding: 0; display: flex; transition: 0.35s all ease; }
nav ul li { list-style: none; }
nav ul li a { display: block; text-transform: uppercase; padding: 10px 20px; text-decoration: none; color: #262626; }
nav.shrink ul li a { margin-top: -10px; padding: 10px 40px; transition: .5s; }
nav ul li ul { display: block; background: white; padding: 0; min-width: 250px; position: absolute; margin-top: 45px; box-shadow: 0 2px 5px rgba(0,0,0,.5); transition: .7s; opacity: 0; visibility: hidden; transform: translateY(40px);  border-bottom: 3px solid #6b8e23; }
nav.shrink ul li ul { margin-top: 20px; }
nav ul li a:hover { color: green; transition: .5s; }
nav ul li:hover ul { opacity: 1; visibility: visible; transform: translateY(0px); }
nav ul li ul li a { padding: 10px; color: #262626; }
nav.shrink ul li ul li a { color: black; padding: 10px; }
.drop:hover { color: darkgreen; }
nav ul li a.active { color: green; }
nav ul li a.active:hover { color: #262626; }
.icon-menu { display: none; }

/* ---------------------------------------------------
   NAVBAR ON SMALLER SCREENS
----------------------------------------------------- */

@media only screen and (max-width: 1290px) {
	nav {
		height: 80px;
	}

	nav.shrink {
		padding: 10px 100px 10px 10px;
	}

	.icon-menu {
		position: relative;
		display: block;
		float: right;
		margin-top: 30px;
		margin-right: 40px;
		cursor: pointer;
		transform: translateX(-100%);
		transition: all 0.3s;
	}

	.icon-menu:hover {
		color: white;

	}

	nav .logo img {
		margin-top: 15px;
		height: 50px;
		margin-left: 50px;
	}

	nav.shrink .logo img{
		height: 50px;
		margin-left: 10px;
	}

	nav h1 {
		margin-top: 25px;
		margin-left: 10px;
	}

	nav.shrink h1 {
		display: block;
		margin-left: 15px;
	}

	nav ul {
		margin-top: 0;
		float: right;
		display: block;
		background: white;
		width: 100%;
		padding: 0;
		display: none;
		transform: translateX(0%);
	}

	nav ul li ul {
		
	}

	nav.shrink ul li a {
		padding: 10px 40px;
	}

	.active {
		display: block;
	}	
}

/* Galaxy s5 ~ iphone5/SE ~ iphone 6/7/8 */
@media (max-width: 360px) {
	nav {
		height: 50px;
	}

	nav h1 {
		display: none;
	}

	nav .logo img {
		display: none;
	}

	nav .logo img.res {
		display: block;
		height: 30px;
		margin-left: 10px;
		margin-top: 10px;
	}

	.icon-menu {
		margin-right: 10px;
		margin-top: 15px;
	}
}

/* pixel 2 ~ pixel 2 XL */
@media (max-width: 411px) {
	nav {
		height: 50px;
	}

	nav h1 {
		display: none;
	}

	nav .logo img {
		display: none;
	}

	nav .logo img.res {
		display: block;
		height: 30px;
		margin-left: 10px;
		margin-top: 10px;
	}

	.icon-menu {
		margin-right: 10px;
		margin-top: 15px;
	}
}

/* iphone 6/7/8 plus ~ iphone X */
@media (max-width: 414px) {
	nav {
		height: 50px;
	}

	nav h1 {
		display: none;
	}

	nav .logo img {
		display: none;
	}

	nav .logo img.res {
		display: block;
		height: 30px;
		margin-left: 10px;
		margin-top: 10px;
	}

	.icon-menu {
		margin-right: 10px;
		margin-top: 15px;
	}
}

/* ipad */
@media (max-width: 765px) {
	nav {
		height: 50px;
	}

	nav h1 {
		display: none;
	}

	nav .logo img {
		display: none;
	}

	nav .logo img.res {
		display: block;
		height: 30px;
		margin-left: 10px;
		margin-top: 10px;
	}

	.icon-menu {
		margin-right: 10px;
		margin-top: 15px;
	}
}

/* ---------------------------------------------------
   PARALLAX
----------------------------------------------------- */

.parallax { background: url('img/quiz.jpg') no-repeat center; background-size: cover; background-attachment: fixed; height: 350px;  }
h1.visit { padding-top: 100px; text-align: center; font-size: 50px; color: white; font-family: monospace; font-family: 'Mandali', sans-serif; }
/* Smaller screen */
@media (max-width: 875px) {
	h1.visit { font-size: 40px; word-spacing: normal; }
}

@media (max-width: 760px) {
	.parallax { height: 300px; }
	h1.visit { font-size: 40px; padding-top: 130px; word-spacing: normal; }
}

@media (max-width: 760px) {
	.parallax { height: 300px; }
	h1.visit { font-size: 40px; padding-top: 100px; word-spacing: normal; }
}

@media (max-width: 593px) {
	.parallax { height: 300px; }
	h1.visit { font-size: 30px; padding-top: 100px; word-spacing: normal; }
}

@media (max-width: 445px) {
	.parallax { height: 200px; }
	h1.visit { font-size: 25px; padding-top: 80px; word-spacing: normal; }
}

@media (max-width: 371px) {
	.parallax { height: 200px; }
	h1.visit { font-size: 20px; padding-top: 80px; word-spacing: normal; }
}

/* ---------------------------------------------------
   BUTTON
----------------------------------------------------- */

button { background: #DAA520; border: 1px solid #ffd700; font-size: 15px; border-radius: 4px; transition: .6s; padding: 10px; }
button a { text-decoration: none; color: white; }
button:focus { outline: none; }
button:before { content: ''; display: block; position: absolute; background: rgba(255,255,255,.5); left: 0; top: 0; opacity: .5s; filter: blur(30px); transform: translateX(-130px) skewX(-15deg); }
button:after { content: ''; display: block; position: absolute; background: rgba(255,255,255,.2); left: 30px; top: 0; opacity: 0; filter: blur(30px); transform: translate(-100px) scaleX(-15deg); }
button:hover { background: #338033; cursor: pointer; }
button:hover:before { transform: translateX(300px) skewX(-15deg); opacity: .6; transition: .7s; }
button:hover:after { transform: translateX(300px) skewX(-15deg); opacity: 1; transition: .7s; }


/* ---------------------------------------------------
   BOUNDERY
----------------------------------------------------- */

.column0 {  float: left;  width: 100%; padding: 10px;  height: 200px;  }
.column0-0 {  float: left;  width: 100%; padding: 10px;  height: 200px;  }
.column0-1 {  float: left;  width: 100%; padding: 10px;  height: 100px;  }
.column0-2 {  float: left;  width: 100%; padding: 10px;  height: 200px;  }


/* ---------------------------------------------------
   BOUNDERY ON SMALLER SCREENS
----------------------------------------------------- */

@media screen and (max-width: 1194px) {
	.column0 {
		height: 100px;
	}
}

/* ---------------------------------------------------
  FIRST LAYER
----------------------------------------------------- */

.container1 { background-color: #f2f2f2; }
.container1 h1 { text-align: center; font-size: 50px; font-family: 'Mandali', sans-serif; color: #00458a; }
.container1 p { font-family: 'Mandali', sans-serif; text-align: center; padding: 100px; font-size: 25px; }

/* ---------------------------------------------------
  FIRST LAYER ON SMALLER SCREENS
----------------------------------------------------- */

@media screen and (max-width: 792px) {
	.container1 h1 {
		font-size: 40px;
	}

	.container1 p {
		padding: 50px;
		font-size: 20px;
	}
}

@media screen and (max-width: 393px) {
	.container1 img {
		width: 250px;
	}
}

@media screen and (max-width: 324px) {
	.container1 img {
		width: 200px;
	}
}


/* ---------------------------------------------------
   SECOND LAYER
----------------------------------------------------- */

.container2 { height: 800px; }
.container2 h1 { text-align: center; font-size: 50px; font-family: 'Mandali', sans-serif; color: #00458a;  }
.container2back { background-color: #666666; margin: 70px; }
#img2 { width: 30px; }
#p1 { font-family: 'Mandali', sans-serif; text-align: center; padding: 50px; font-size: 25px; }
#p2 { font-family: 'Mandali', sans-serif;  font-size: 25px; color: white; padding: 50px; }

/* ---------------------------------------------------
   SECOND LAYER ON SMALLER SCREENS
----------------------------------------------------- */

@media screen and (max-width: 1244px) {
	.container2back {
		margin: 60px;
	}
}

@media screen and (max-width: 1224px) {
	.container2back {
		margin: 50px;
	}
}

@media screen and (max-width: 1204px) {
	.container2back {
		margin: 40px;
	}
}

@media screen and (max-width: 1194px) {
	.container2 {
		height: 800px;
	}
}

@media screen and (max-width: 972px) {
	.container2back {
		margin: 30px;
	}
}

@media screen and (max-width: 952px) {
	#p2 {
		font-size: 20px;
	}

	#img2 {
		width: 20px;
	}
}

@media screen and (max-width: 792px) {
	.container2 h1 {
		font-size: 40px;
	}

	#p1 {
		font-size: 20px;
		padding: 30px;
	}
}

@media screen and (max-width: 790px) {
	.container2back {
		margin: 20px;
	}
}

@media screen and (max-width: 575px) {
	.container2back {
		margin: -10px;
	}
}

@media screen and (max-width: 555px) {
	.container2back {
		margin: 5px;
	}

	#p1 {
		font-size: 18px;
		padding: 30px;
	}
}

@media screen and (max-width: 545px) {
	.container2back {
		margin: -10px;
	}
}

@media screen and (max-width: 485px) {
	.container2back {
		margin: -30px;
	}
}

@media screen and (max-width: 475px) {
	#p2 {
		font-size: 18px;
	}
}

@media screen and (max-width: 409px) {
	.container2 {
		height: 950px;
	}
}

@media screen and (max-width: 393px) {
	.container2 img {
		width: 300px;
	}
}

@media screen and (max-width: 325px) {
	.container2 {
		height: 1250px;
	}

	.container2 img {
		width: 200px;
	}
}

@media screen and (max-width: 324px) {
	.container2 img {
		width: 200px;
	}
}

/* ---------------------------------------------------
   THIRD LAYER
----------------------------------------------------- */

/* Title */
.title1 { float: left; width: 100%; padding: 10px;  height: 200px; }
.title1 h2 { text-align: center; font-size: 50px; color: #00458a; font-family: 'Mandali', sans-serif; }

.column1 { float: left; width: 25%; padding: 10px; height: 700px;  }
.column1 h1 { text-align: center; color:  #ff6933; font-family: 'Mandali', sans-serif; }

.column2 {  float: left; width: 50%; padding: 10px;  height: 700px;  }
.column2 h1 { text-align: center; color:  #ff6933; font-family: 'Mandali', sans-serif; }

.row:after { content: ""; display: table; clear: both; }

/* image */
.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
    border-radius: 10px;
}

.desc {
    padding: 15px;
    text-align: center;
    font-size: 25px;
}

/* ---------------------------------------------------
   THIRD LAYER ON SMALLER SCREENS
----------------------------------------------------- */

/* Title */
@media screen and (max-width: 792px) {
	.title1 h2 {
		font-size: 40px;
	}
}

@media screen and (max-width: 552px) {
    .column0-1 h2 {
        font-size: 45px;
    }
}

@media screen and (max-width: 499px) {
    .column0-1 h2 {
        font-size: 40px;
    }
}

@media screen and (max-width: 445px) {
    .column0-1 h2 {
        font-size: 35px;
    }
}

@media screen and (max-width: 392px) {
    .column0-1 h2 {
        font-size: 30px;
    }
}

/* Image */
@media screen and (max-width: 1282px) {
    .column1 {
        width: 50%;
    }
}

@media screen and (max-width: 765px) {
    .column1 {
        width: 100%;
        height: 500px;
    }

    .column2 {
    	width: 100%;
    	height: 500px;
    }

    .column1 img {
        height: 300px;
    }

    .column2 img {
    	height: 300px;
    }
}
/* ---------------------------------------------------
   TITLE 
----------------------------------------------------- */

.Title2 { float: left; width: 100%; padding: 10px; height: 200px; box-sizing: border-box; color: whitesmoke; font-family: 'Mandali', sans-serif; }
#Title2:after { content: ""; display: table; clear: both; }
.Title2 h1 {  color: #00458a; font-size: 50px; text-align: center; }

/* ---------------------------------------------------
   TITLE ON SMALLER SCREENS
----------------------------------------------------- */

@media (max-width: 1000px) {
	.Title2 h1 {
		display: none;
	}
}

/* ---------------------------------------------------
   FOURTH LAYER
----------------------------------------------------- */

.column { float: left; position: relative; width: 25%; padding: 10px; height: 260px; }
.column img { width: 100%; }
.hovered {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #0000009c;
  cursor: pointer;
}

#over:hover .hovered {
  opacity: 1;
}

.texttext {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Mandali', sans-serif;
}

#text {
	font-size: 20px;
}

.row:after { content: ""; display: table;  clear: both; }


/* ---------------------------------------------------
   FOURTH LAYER FOR SMALLER SCREENS
----------------------------------------------------- */

@media screen and (max-width: 1000px) {
    .column {
        display: none;
    }
}

/* ---------------------------------------------------
   FIFTH LAYER
----------------------------------------------------- */

.column5 { float: left; width: 100%; padding: 10px; height: 450px; box-sizing: border-box; color: whitesmoke; font-family: 'Mandali', sans-serif; }
#container5:after { content: ""; display: table; clear: both; }

.column5 img { width: 200px; display: block; margin-left: auto; margin-right: auto; margin-top: 30px; }
.column5 h1 { text-align: center; margin-top: -40px; color: black; }
.column5 .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    display: block; margin-left: auto; margin-right: auto; margin-top: 30px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1), 0 4px 15px 0 rgba(0,0,0,0.1);
}

.column5 .button1 {
    background-color: #daa520; 
    color: white; 
    border: 2px solid #daa520;
}

.column5 .button1:hover {
    background-color: white;
    color: black;
}

.column5 .button1 a:hover {
    color: black;
}

.column5 p { color: #999999; text-align: center; font-size: 20px; }

/* ---------------------------------------------------
   FIFTH LAYER ON SMALLER SCREENS
----------------------------------------------------- */

@media (max-width: 1000px) {
    .column5 {
        width: 100%;
        height: 600px;
    }
}

@media (max-width: 507px) {
	.column5 img {
		width: 150px;
	}

	.column5 h1 {
		font-size: 25px;
	}

	.column5 p {
		font-size: 18px;
	}
}


/* ---------------------------------------------------
   FOOTER
----------------------------------------------------- */

* { box-sizing: border-box; }
.column3 { float: left; width: 25%; padding: 10px; height: 220px; }
.column3 h3 { padding-left: 20px; font-family: 'Mandali', sans-serif; color: whitesmoke; }
.column3 p { padding-left: 20px; font-size: 18px; color: whitesmoke; }

/* Facebook icon */
.column3 .socialIcons { padding-left: 20px; }
.socialIcons li { background-color: yellow; list-style: none; display: inline-block; margin: 4px; border-radius: 2em; overflow: hidden; }
.socialIcons li a { display: block; padding: .5em; min-width: 2.28571429em; max-width: 2.28571429em; height: 2.28571429em; white-space: nowrap; line-height: 1.5em; transition: .5s; text-decoration: none; font-family: calibri; color: #fff; }
.socialIcons li i { margin-right: .5em; }
.socialIcons li:hover a { max-width: 200px; padding-right: 1em; }
.socialIcons .facebook { background-color: #3b5998; }

/* Button */
.column3 .button2 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    display: block; margin-left: auto; margin-right: auto;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1), 0 4px 15px 0 rgba(0,0,0,0.1);
}

.column3 .button2 { background-color: #daa520; color: white;  border: 2px solid #daa520; display: block; margin-left: auto; margin-right: auto; }
.column3 .button2:hover { background-color: white; color: black; }

.row3:after { content: ""; display: table; clear: both; }

/* ---------------------------------------------------
   FOOTER FOR SMALLER SCREENS
----------------------------------------------------- */

@media screen and (max-width: 925px) {
    #clm3-1 {
        width: 33.33%;
    }

    #clm3-2 {
        width: 33.33%;
    }

    #clm3-3 {
        width: 33.33%;
    }

    #clm3-4 { 
        width: 100%;
    }

    #clm3-4 h3 {
        text-align: center;
    }
}

@media screen and (max-width: 820px) {
    #clm3-1 {
        margin-top: 100px;
    }

    #clm3-2 {
        margin-top: 100px;
    }

    #clm3-3 {
        margin-top: 100px;
    }
}

@media screen and (max-width: 649px) {
    #clm3-1 {
        height: 240px;
    }

    #clm3-2 {
        height: 240px;
    }

    #clm3-3 {
        height: 240px;
    }
}

@media screen and (max-width: 463px) {
    #clm3-1 {
        height: 240px;
        width: 50%;
    }

    #clm3-2 {
        width: 50%;
        height: 240px;
    }

    #clm3-3 {
        width: 50%;
        height: 220px;
    }

    #clm3-4 {
        width: 50%;
    }
}

@media screen and (max-width: 463px) {
    #clm3-3 {
        height: 240px;
        margin-top: 0px;
    }

    #clm3-4 {
        height: 240px;
    }
}

@media screen and (max-width: 430px) {
    #clm3-1 {
        width: 100%;
        height: 190px;
    }

    #clm3-2 {
        width: 100%;
        height: 140px;
        margin-top: 0px;
    }

    #clm3-3 {
        width: 100%;
        height: 190px
    }

    #clm3-4 {
        width: 100%;
        height: 190px
    }
}

/* ---------------------------------------------------
   FOOTER X
----------------------------------------------------- */

* { box-sizing: border-box; }
.column4 { float: left; width: 100%; padding: 10px; height: 50px; }
.column4 p { text-align: center; font-size: 15px; margin-top: 5px; color: whitesmoke; }

.row4:after { content: ""; display: table; clear: both; }


/* ---------------------------------------------------
   FOOTER X FOR SMALLER SCREENS
----------------------------------------------------- */

@media screen and (max-width: 925px) {
    .column4 {
        width: 100%;
    }
}

