<link href="jquery.datetimepicker.css" rel="stylesheet">
<!---CALENDAR-->
<p><br/></p>
<div class="container">
	<input type="text" id="datetimepicker" />
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="jquery.datetimepicker.full.js"></script>
<script>
	$("#datetimepicker").datetimepicker();
</script>