@import url('https://fonts.googleapis.com/css?family=Mandali');
body { margin: 0; padding: 0; background-color: whitesmoke; font-family: calibri; }

/* NAVBAR */
nav { position: fixed; top: 0; left: 0; width: 100%; height: 100px; background: whitesmoke;  box-sizing: border-box; transition: .5s; -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, .25); border-bottom: 3px solid whitesmoke; }
nav.shrink { background: whitesmoke; height: 80px; color: white; }
nav h1 {  float: left; margin-left: 10px; margin-top: 35px; font-family: calisto MT; font-size: 25px; color: darkblue; }
nav.shrink h1 { display: none; }
nav .logo img { float: left; margin-left: 20px; margin-top: 10px; height: 80px; transition: .5s; }
nav .logo img.res { display: none; }
nav.shrink .logo img { height: 60px; margin-left: 10px; }
nav ul { float: right; margin-top: 30px; padding: 0; display: flex; transition: 0.35s all ease; }
nav ul li { list-style: none; }
nav ul li a { display: block; text-transform: uppercase; padding: 10px 20px; text-decoration: none; color: #262626; }
nav.shrink ul li a { margin-top: -10px; padding: 10px 40px; transition: .5s; }
nav ul li ul { display: block; background: white; padding: 0; min-width: 250px; position: absolute; margin-top: 45px; box-shadow: 0 2px 5px rgba(0,0,0,.5); transition: .7s; opacity: 0; visibility: hidden; transform: translateY(40px);  border-bottom: 3px solid #6b8e23; }
nav.shrink ul li ul { margin-top: 20px; }
nav ul li a:hover { color: green; transition: .5s; }
nav ul li:hover ul { opacity: 1; visibility: visible; transform: translateY(0px); }
nav ul li ul li a { padding: 10px; color: #262626; }
nav.shrink ul li ul li a { color: black; padding: 10px; }
.drop:hover { color: darkgreen; }
nav ul li a.active { color: green; }
nav ul li a.active:hover { color: #262626; }
.icon-menu { display: none; }

/* On smaller screens */
@media only screen and (max-width: 1290px) {
	nav {
		height: 80px;
	}

	nav.shrink {
		padding: 10px 100px 10px 10px;
	}

	.icon-menu {
		position: relative;
		display: block;
		float: right;
		margin-top: 30px;
		margin-right: 40px;
		cursor: pointer;
		transform: translateX(-100%);
		transition: all 0.3s;
	}

	.icon-menu:hover {
		color: white;

	}

	nav .logo img {
		margin-top: 15px;
		height: 50px;
		margin-left: 50px;
	}

	nav.shrink .logo img{
		height: 50px;
		margin-left: 10px;
	}

	nav h1 {
		margin-top: 25px;
		margin-left: 10px;
	}

	nav.shrink h1 {
		display: block;
		margin-left: 15px;
	}

	nav ul {
		margin-top: 0;
		float: right;
		display: block;
		background: white;
		width: 100%;
		padding: 0;
		display: none;
		transform: translateX(0%);
	}

	nav ul li ul {
		
	}

	nav.shrink ul li a {
		padding: 10px 40px;
	}

	.active {
		display: block;
	}	
}

/* Galaxy s5 ~ iphone5/SE ~ iphone 6/7/8 */
@media (max-width: 360px) {
	nav {
		height: 50px;
	}

	nav h1 {
		display: none;
	}

	nav .logo img {
		display: none;
	}

	nav .logo img.res {
		display: block;
		height: 30px;
		margin-left: 10px;
		margin-top: 10px;
	}

	.icon-menu {
		margin-right: 10px;
		margin-top: 15px;
	}
}

/* pixel 2 ~ pixel 2 XL */
@media (max-width: 411px) {
	nav {
		height: 50px;
	}

	nav h1 {
		display: none;
	}

	nav .logo img {
		display: none;
	}

	nav .logo img.res {
		display: block;
		height: 30px;
		margin-left: 10px;
		margin-top: 10px;
	}

	.icon-menu {
		margin-right: 10px;
		margin-top: 15px;
	}
}

/* iphone 6/7/8 plus ~ iphone X */
@media (max-width: 414px) {
	nav {
		height: 50px;
	}

	nav h1 {
		display: none;
	}

	nav .logo img {
		display: none;
	}

	nav .logo img.res {
		display: block;
		height: 30px;
		margin-left: 10px;
		margin-top: 10px;
	}

	.icon-menu {
		margin-right: 10px;
		margin-top: 15px;
	}
}

/* ipad */
@media (max-width: 765px) {
	nav {
		height: 50px;
	}

	nav h1 {
		display: none;
	}

	nav .logo img {
		display: none;
	}

	nav .logo img.res {
		display: block;
		height: 30px;
		margin-left: 10px;
		margin-top: 10px;
	}

	.icon-menu {
		margin-right: 10px;
		margin-top: 15px;
	}
}

/* ---------------------------------------------------
   BUTTON
----------------------------------------------------- */

button { background: #DAA520; border: 1px solid #ffd700; font-size: 15px; border-radius: 4px; transition: .6s; padding: 10px; }
button a { text-decoration: none; color: white; }
button:focus { outline: none; }
button:before { content: ''; display: block; position: absolute; background: rgba(255,255,255,.5); left: 0; top: 0; opacity: .5s; filter: blur(30px); transform: translateX(-130px) skewX(-15deg); }
button:after { content: ''; display: block; position: absolute; background: rgba(255,255,255,.2); left: 30px; top: 0; opacity: 0; filter: blur(30px); transform: translate(-100px) scaleX(-15deg); }
button:hover { background: #338033; cursor: pointer; }
button:hover:before { transform: translateX(300px) skewX(-15deg); opacity: .6; transition: .7s; }
button:hover:after { transform: translateX(300px) skewX(-15deg); opacity: 1; transition: .7s; }

/* ---------------------------------------------------
   BOUNDERY
----------------------------------------------------- */

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 100%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* ---------------------------------------------------
   CONTENT
----------------------------------------------------- */

/* ---------------------------------------------------
   PARALLAX
----------------------------------------------------- */

.parallax { background: url('img/map.png') no-repeat center; background-size: cover; background-attachment: fixed; height: 350px;  }
h1.visit { padding-top: 110px; text-align: center; font-size: 50px; color: white; font-family: monospace; font-family: 'Mandali', sans-serif; }
/* Smaller screen */
@media (max-width: 875px) {
	h1.visit { font-size: 40px; word-spacing: normal; }
}

@media (max-width: 760px) {
	.parallax { height: 300px; }
	h1.visit { font-size: 40px; padding-top: 130px; word-spacing: normal; }
}

@media (max-width: 760px) {
	.parallax { height: 300px; }
	h1.visit { font-size: 40px; padding-top: 100px; word-spacing: normal; }
}

@media (max-width: 593px) {
	.parallax { height: 300px; }
	h1.visit { font-size: 30px; padding-top: 100px; word-spacing: normal; }
}

@media (max-width: 445px) {
	.parallax { height: 200px; }
	h1.visit { font-size: 25px; padding-top: 80px; word-spacing: normal; }
}

@media (max-width: 371px) {
	.parallax { height: 200px; }
	h1.visit { font-size: 20px; padding-top: 80px; word-spacing: normal; }
}

/* ---------------------------------------------------
   FIRST LAYER
----------------------------------------------------- */

* {
    box-sizing: border-box;
}

.container h1 { padding: 100px; font-family: 'Mandali', sans-serif; text-align: center; }
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-right: 260px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 15%;
    margin-left: 200px;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 50%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* for smaller screens */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}


/* ---------------------------------------------------
   FOOTER
----------------------------------------------------- */

* { box-sizing: border-box; }
.column3 { float: left; width: 25%; padding: 10px; height: 220px; }
.column3 h3 { padding-left: 20px; font-family: 'Mandali', sans-serif; color: whitesmoke; }
.column3 p { padding-left: 20px; font-size: 18px; color: whitesmoke; }

/* Facebook icon */
.column3 .socialIcons { padding-left: 20px; }
.socialIcons li { background-color: yellow; list-style: none; display: inline-block; margin: 4px; border-radius: 2em; overflow: hidden; }
.socialIcons li a { display: block; padding: .5em; min-width: 2.28571429em; max-width: 2.28571429em; height: 2.28571429em; white-space: nowrap; line-height: 1.5em; transition: .5s; text-decoration: none; font-family: calibri; color: #fff; }
.socialIcons li i { margin-right: .5em; }
.socialIcons li:hover a { max-width: 200px; padding-right: 1em; }
.socialIcons .facebook { background-color: #3b5998; }

/* Button */
.column3 .button2 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    display: block; margin-left: auto; margin-right: auto;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1), 0 4px 15px 0 rgba(0,0,0,0.1);
}

.column3 .button2 { background-color: #daa520; color: white;  border: 2px solid #daa520; display: block; margin-left: auto; margin-right: auto; }
.column3 .button2:hover { background-color: white; color: black; }

.row3:after { content: ""; display: table; clear: both; }

/* ---------------------------------------------------
   FOOTER FOR SMALLER SCREENS
----------------------------------------------------- */

@media screen and (max-width: 925px) {
    #clm3-1 {
        width: 33.33%;
    }

    #clm3-2 {
        width: 33.33%;
    }

    #clm3-3 {
        width: 33.33%;
    }

    #clm3-4 { 
        width: 100%;
    }

    #clm3-4 h3 {
        text-align: center;
    }
}

@media screen and (max-width: 820px) {
    #clm3-1 {
        margin-top: 100px;
    }

    #clm3-2 {
        margin-top: 100px;
    }

    #clm3-3 {
        margin-top: 100px;
    }
}

@media screen and (max-width: 649px) {
    #clm3-1 {
        height: 240px;
    }

    #clm3-2 {
        height: 240px;
    }

    #clm3-3 {
        height: 240px;
    }
}

@media screen and (max-width: 463px) {
    #clm3-1 {
        height: 240px;
        width: 50%;
    }

    #clm3-2 {
        width: 50%;
        height: 240px;
    }

    #clm3-3 {
        width: 50%;
        height: 220px;
    }

    #clm3-4 {
        width: 50%;
    }
}

@media screen and (max-width: 463px) {
    #clm3-3 {
        height: 240px;
        margin-top: 0px;
    }

    #clm3-4 {
        height: 240px;
    }
}

@media screen and (max-width: 430px) {
    #clm3-1 {
        width: 100%;
        height: 190px;
    }

    #clm3-2 {
        width: 100%;
        height: 140px;
        margin-top: 0px;
    }

    #clm3-3 {
        width: 100%;
        height: 190px
    }

    #clm3-4 {
        width: 100%;
        height: 190px
    }
}


/* ---------------------------------------------------
   FOOTER X
----------------------------------------------------- */

* { box-sizing: border-box; }
.column4 { float: left; width: 100%; padding: 10px; height: 50px; }
.column4 p { text-align: center; font-size: 15px; margin-top: 5px; color: whitesmoke; }

.row4:after { content: ""; display: table; clear: both; }

/* ---------------------------------------------------
   FOOTER X FOR SMALLER SCREENS
----------------------------------------------------- */

@media screen and (max-width: 925px) {
    .column4 {
        width: 100%;
    }
}