<!---FOOTER-->
	<!---container 6-->
	<div class="container6">
		<!---container 6.1-->
		<div class="container6-one">
			<h3>HOURS OF OPERATION</h3>
			<p>Monday-Friday <br>
			7:00am - 2:30pm </p>
			<p><i>*Except on holidays and breaks</i></p>
		</div>
		<!---container 6.2-->
		<div class="container6-two">
			<h3>CONTACT</h3>
			<p>Phone: 773-281-4411 <br>
			Fax: 773-281-4412 </p>
		</div>
		<!---container 6.3-->
		<div class="container6-three">
			<h3>FOLLOW US</h3>
			<p>Don't forget to follow our news,<br>updates and activities on:</p>
			<ul class="socialIcons">
				<li class="facebook"><a href="http://www.facebook.com/profile.php?id=100014722740019" target="_blank"><i class="fa fa-fw fa-facebook" aria-hidden="true"></i>Facebook</a></li>
			</ul>
		</div>
	</div>
	<div class="container7">
		<p>Copyright &copy; FASC Creative Learning School, Inc. All Rights Reserved</p>
	</div>