<!---IMAGE SLIDER-->
	<div class="slideshow-container">

		<div class="mySlides fade">
		  <div class="numbertext">1 / 5</div>
		  <img src="img/tour.jpg" style="width:100%" class="image">
		  <div class="text">Caption Text</div>
		</div>

		<div class="mySlides fade">
		  <div class="numbertext">2 / 5</div>
		  <img src="img/commencement.jpg" style="width:100%" class="image">
		  <div class="text">Caption Two</div>
		</div>

		<div class="mySlides fade">
		  <div class="numbertext">3 / 5</div>
		  <img src="img/UN.jpg" style="width:100%" class="image">
		  <div class="text">Caption Three</div>
		</div>

		<div class="mySlides fade">
		  <div class="numbertext">4 / 5</div>
		  <img src="img/fieldtrip.jpg" style="width:100%" class="image">
		  <div class="text">Caption Three</div>
		</div>

		<div class="mySlides fade">
		  <div class="numbertext">5 / 5</div>
		  <img src="img/wika.jpg" style="width:100%" class="image">
		  <div class="text">Caption Three</div>
		</div>

		</div>
		<br>

		<div style="text-align:center">
		  <span class="dot"></span> 
		  <span class="dot"></span> 
		  <span class="dot"></span>
		  <span class="dot"></span> 
		  <span class="dot"></span> 
	</div>