body { margin: 0; padding: 0; font-family: calibri; background-color: ; }

/* LOGO */
.header .logo img { float: left; width: 700px; margin-left: -60px; margin-top: 20px; }

/* NAVBAR */
.header { position: fixed; width: 100%; background: linear-gradient(to bottom right, #ff8c00, #ffb833, #ffb833); padding: 0 100px; box-sizing: border-box; border-bottom: 2px solid #ffa500; -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, .25); min-height: 85px; z-index: 20; transition: 0.35s all ease; }
nav { position: relative; float: left; left: 100px; margin-top: -30px; }
nav ul { margin: 0; padding: 0; display: flex; transition: 0.35s all ease; }
nav ul li { list-style: none; }
nav ul li a { display: block; text-transform: uppercase; padding: 30px 40px; text-decoration: none; color: #262626; }
nav ul li ul { display: block; background: white; min-width: 250px; position: absolute; margin-top: 7px; box-shadow: 0 2px 5px rgba(0,0,0,.5); transition: .7s; opacity: 0; visibility: hidden; transform: translateY(40px);  border-bottom: 3px solid #ffa500; }
nav ul li a:hover { color: white; transition: .5s; }
nav ul li:hover ul { opacity: 1; visibility: visible;  transform: translateY(0px); }
nav ul li ul li a { padding: 10px; color: #262626; }
.drop:hover { color: darkgreen; }

/* Shrink nav bar scroll */
.scrolled { 
	min-height: 10px; 
	background: black; 
	transition: 0.35s all ease;

	ul { 

	padding: 1rem 2rem; 
	transition: 0.35s all ease; 
	
	}

	li { 

		color: white; 
		transition: 0.35s all ease-in-out;
	} 
}

/* BUTTON */
.button1 { float: right; margin-top: 10px; margin-right: -50px; }
.button2 { float: right; margin-top: 10px; margin-right: 20px; }
button { background: #DAA520; border: 1px solid #ffd700; font-size: 15px; border-radius: 4px; transition: .6s; padding: 10px; }
button a { text-decoration: none; color: white; }
button:focus { outline: none; }
button:before { content: ''; display: block; position: absolute; background: rgba(255,255,255,.5); left: 0; top: 0; opacity: .5s; filter: blur(30px); transform: translateX(-130px) skewX(-15deg); }
button:after { content: ''; display: block; position: absolute; background: rgba(255,255,255,.2); left: 30px; top: 0; opacity: 0; filter: blur(30px); transform: translate(-100px) scaleX(-15deg); }
button:hover { background: #338033; cursor: pointer; }
button:hover:before { transform: translateX(300px) skewX(-15deg); opacity: .6; transition: .7s; }
button:hover:after { transform: translateX(300px) skewX(-15deg); opacity: 1; transition: .7s; }

/* PARALLAX */
.parallax { background-image: url('img/grad.jpg'); height: 100%; background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover; position: relative;  z-index: -1; width: auto; }
h1 { float: left; margin-top: 300px; margin-left: 250px; padding: 30px; border-radius: 30px; background-color: #26262699; color: white; font-size: 50px;  }


/* CONTENT */
h2	{ text-align: center; font-family: calibri; font-size: 30px; }

/* On smaller screens, decrease text size */
@media only screen and (max-width: 600px) {
  .text { font-size: 11px }
}






