body { margin: 0; padding: 0; font-family: calibri; background-color: whitesmoke; }

/* NAVBAR */
nav { position: fixed; top: 0; left: 0; width: 100%; height: 100px; background: whitesmoke;  box-sizing: border-box; transition: .5s; -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, .25); border-bottom: 3px solid whitesmoke; }
nav.shrink { background: whitesmoke; height: 80px; color: white; }
nav h1 {  float: left; margin-left: 10px; margin-top: 35px; font-family: calisto MT; font-size: 25px; color: darkblue; }
nav.shrink h1 { display: none; }
nav .logo img { float: left; margin-left: 20px; margin-top: 10px; height: 80px; transition: .5s; }
nav .logo img.res { display: none; }
nav.shrink .logo img { height: 60px; margin-left: 10px; }
nav ul { float: right; margin-top: 30px; padding: 0; display: flex; transition: 0.35s all ease; }
nav ul li { list-style: none; }
nav ul li a { display: block; text-transform: uppercase; padding: 10px 20px; text-decoration: none; color: #262626; }
nav.shrink ul li a { margin-top: -10px; padding: 10px 40px; transition: .5s; }
nav ul li ul { display: block; background: white; padding: 0; min-width: 250px; position: absolute; margin-top: 45px; box-shadow: 0 2px 5px rgba(0,0,0,.5); transition: .7s; opacity: 0; visibility: hidden; transform: translateY(40px);  border-bottom: 3px solid #6b8e23; }
nav.shrink ul li ul { margin-top: 20px; }
nav ul li a:hover { color: green; transition: .5s; }
nav ul li:hover ul { opacity: 1; visibility: visible; transform: translateY(0px); }
nav ul li ul li a { padding: 10px; color: #262626; }
nav.shrink ul li ul li a { color: black; padding: 10px; }
.drop:hover { color: darkgreen; }
nav ul li a.active { color: green; }
nav ul li a.active:hover { color: #262626; }
.icon-menu { display: none; }

/* On smaller screens */
@media only screen and (max-width: 1290px) {
	nav {
		height: 80px;
	}

	nav.shrink {
		padding: 10px 100px 10px 10px;
	}

	.icon-menu {
		position: relative;
		display: block;
		float: right;
		margin-top: 30px;
		margin-right: 40px;
		cursor: pointer;
		transform: translateX(-100%);
		transition: all 0.3s;
	}

	.icon-menu:hover {
		color: white;

	}

	nav .logo img {
		margin-top: 15px;
		height: 50px;
		margin-left: 50px;
	}

	nav.shrink .logo img{
		height: 50px;
		margin-left: 10px;
	}

	nav h1 {
		margin-top: 25px;
		margin-left: 10px;
	}

	nav.shrink h1 {
		display: block;
		margin-left: 15px;
	}

	nav ul {
		margin-top: 0;
		float: right;
		display: block;
		background: white;
		width: 100%;
		padding: 0;
		display: none;
		transform: translateX(0%);
	}

	nav ul li ul {
		
	}

	nav.shrink ul li a {
		padding: 10px 40px;
	}

	.active {
		display: block;
	}	
}

/* Galaxy s5 ~ iphone5/SE ~ iphone 6/7/8 */
@media (max-width: 360px) {
	nav {
		height: 50px;
	}

	nav h1 {
		display: none;
	}

	nav .logo img {
		display: none;
	}

	nav .logo img.res {
		display: block;
		height: 30px;
		margin-left: 10px;
		margin-top: 10px;
	}

	.icon-menu {
		margin-right: 10px;
		margin-top: 15px;
	}
}

/* pixel 2 ~ pixel 2 XL */
@media (max-width: 411px) {
	nav {
		height: 50px;
	}

	nav h1 {
		display: none;
	}

	nav .logo img {
		display: none;
	}

	nav .logo img.res {
		display: block;
		height: 30px;
		margin-left: 10px;
		margin-top: 10px;
	}

	.icon-menu {
		margin-right: 10px;
		margin-top: 15px;
	}
}

/* iphone 6/7/8 plus ~ iphone X */
@media (max-width: 414px) {
	nav {
		height: 50px;
	}

	nav h1 {
		display: none;
	}

	nav .logo img {
		display: none;
	}

	nav .logo img.res {
		display: block;
		height: 30px;
		margin-left: 10px;
		margin-top: 10px;
	}

	.icon-menu {
		margin-right: 10px;
		margin-top: 15px;
	}
}

/* ipad */
@media (max-width: 765px) {
	nav {
		height: 50px;
	}

	nav h1 {
		display: none;
	}

	nav .logo img {
		display: none;
	}

	nav .logo img.res {
		display: block;
		height: 30px;
		margin-left: 10px;
		margin-top: 10px;
	}

	.icon-menu {
		margin-right: 10px;
		margin-top: 15px;
	}
}

/* PARALLAX */
.parallax { background: url('img/map.png') no-repeat center; background-size: cover; background-attachment: fixed; height: 400px;  }
h1.visit { padding-top: 170px; text-align: center; font-size: 80px; word-spacing: 30px; color: white; }
/* Smaller screen */
@media (max-width: 875px) {
	h1.visit { font-size: 70px; word-spacing: normal; }
}

@media (max-width: 760px) {
	.parallax { height: 300px; }
	h1.visit { font-size: 50px; padding-top: 130px; word-spacing: normal; }
}

@media (max-width: 760px) {
	.parallax { height: 300px; }
	h1.visit { font-size: 50px; padding-top: 100px; word-spacing: normal; }
}

/* CONTENT */
.map { margin-top: 100px; }

/* FOOTER */
/* container 6 */
.container6 { background-color: #333333; width: 100%; height: 200px; margin-top: 150px; }
/* container 6-one */
.container6-one { background-color: transparent; width: 200px; height: 200px; margin-left: 200px; margin-top: -20px; }
.container6-one h3 { padding-top: 30px; color: green; }
.container6-one p { color: white; }
/* container 6-two */
.container6-two { background-color: transparent; width: 200px; height: 200px; margin-left: 550px; margin-top: -217px; }
.container6-two h3 { padding-top: 30px; color: green; }
.container6-two p { color: white; }
/* container 6-three */
.container6-three { background-color: transparent width: 200px; height: 200px; margin-left: 900px; margin-top: -220px; }
.container6-three h3 {padding-top: 30px; color: green; }
.container6-three p { color: white; }
.container6-three .socialIcons { padding-left: 20px; }
.socialIcons li { background-color: yellow; list-style: none; display: inline-block; margin: 4px; border-radius: 2em; overflow: hidden; }
.socialIcons li a { display: block; padding: .5em; min-width: 1.28571429em; max-width: 1.28571429em; height: 1.28571429em; white-space: nowrap; line-height: 1.5em; transition: .5s; text-decoration: none; font-family: calibri; color: #fff; }
.socialIcons li i { margin-right: .5em; }
.socialIcons li:hover a { max-width: 200px; padding-right: 1em; }
.socialIcons .facebook { background-color: #3b5998; }
/* container 7 */
.container7 { background-color: #0d0d0d; width: 100%; height: 60px; }
.container7 p { float: left; color: gray; padding-left: 450px; padding-top: 5px; }
/* Smaller screen */
@media (max-width: 1300px) {
	.container6-one { margin-left: 190px; }
	.container6-two { margin-left: 540px; }
	.container6-three { margin-left: 890px; }
	.container7 p { padding-left: 440px; }
}

@media (max-width: 1280px) {
	.container7 p { padding-left: 420px; }
}

@media (max-width: 1250px) {
	.container6-one { margin-left: 180px; }
	.container6-two { margin-left: 530px; }
	.container6-three { margin-left: 880px; }
	.container7 p { padding-left: 420px; }
}

@media (max-width: 1200px) {
	.container6-one { margin-left: 170px; }
	.container6-two { margin-left: 520px; }
	.container6-three { margin-left: 870px; }
	.container7 p { padding-left: 380px; }
}

@media (max-width: 1181px) {
	.container6 { margin-top: 100px; }
	.container6-one { margin-left: 160px; }
	.container6-two { margin-left: 510px; }
	.container6-three { margin-left: 860px; }
	.container7 p { padding-left: 360px; }
}

@media (max-width: 1138px) {
	.container6 { margin-top: 90px; }
	.container6-one { margin-left: 150px; }
	.container6-two { margin-left: 500px; }
	.container6-three { margin-left: 850px; }
	.container7 p { padding-left: 340px; }
}

@media (max-width: 1078px) {
	.container6 { margin-top: 80px; }
	.container6-one { margin-left: 120px; }
	.container6-two { margin-left: 470px; }
	.container6-three { margin-left: 790px; }
	.container7 p { padding-left: 330px; }
}

@media (max-width: 1060px) {
	.container6 { margin-top: 80px; }
	.container6-one { margin-left: 110px; }
	.container6-two { margin-left: 460px; }
	.container6-three { margin-left: 780px; }
	.container7 p { padding-left: 310px; }
}

@media (max-width: 1050px) {
	.container6 { margin-top: 80px; }
	.container6-one { margin-left: 100px; }
	.container6-two { margin-left: 450px; }
	.container6-three { margin-left: 770px; }
	.container7 p { padding-left: 290px; }
}

@media (max-width: 1040px) {
	.container6 { margin-top: 80px; }
	.container6-one { margin-left: 90px; }
	.container6-two { margin-left: 440px; }
	.container6-three { margin-left: 760px; }
	.container7 p { padding-left: 300px; }
}

@media (max-width: 1030px) {
	.container6 { margin-top: 80px; }
	.container6-one { margin-left: 80px; }
	.container6-two { margin-left: 430px; }
	.container6-three { margin-left: 750px; }
	.container7 p { padding-left: 300px; }
}

@media (max-width: 1026px) {
	.container6 { margin-top: 80px; }
	.container6-one { margin-left: 100px; }
	.container6-two { margin-left: 450px; }
	.container6-three { margin-left: 770px; }
	.container7 p { padding-left: 320px; }
}

@media (max-width: 1024px) {
	.container7 p { padding-left: 295px; }
}

@media (max-width: 1020px) {
	.container6 { margin-top: 80px; }
	.container6-one { margin-left: 90px; }
	.container6-two { margin-left: 440px; }
	.container6-three { margin-left: 760px; }
	.container7 p { padding-left: 300px; }
}

@media (max-width: 986px) {
	.container6 { margin-top: 80px; }
	.container6-one { margin-left: 80px; }
	.container6-two { margin-left: 430px; }
	.container6-three { margin-left: 750px; }
	.container7 p { padding-left: 290px; }
}

@media (max-width: 976px) {
	.container6 { margin-top: 80px; }
	.container6-one { margin-left: 70px; }
	.container6-two { margin-left: 420px; }
	.container6-three { margin-left: 740px; }
	.container7 p { padding-left: 280px; }
}

@media (max-width: 956px) {
	.container6 { margin-top: 80px; }
	.container6-one { margin-left: 60px; }
	.container6-two { margin-left: 410px; }
	.container6-three { margin-left: 730px; }
	.container7 p { padding-left: 270px; }
}

@media (max-width: 936px) {
	.container6 { margin-top: 80px; }
	.container6-one { margin-left: 60px; }
	.container6-two { margin-left: 400px; }
	.container6-three { margin-left: 700px; }
	.container7 p { padding-left: 270px; }
}

@media (max-width: 926px) {
	.container6 { margin-top: 80px; }
	.container6-one { margin-left: 60px; }
	.container6-two { margin-left: 390px; }
	.container6-three { margin-left: 680px; }
	.container7 p { padding-left: 260px; }
}

@media (max-width: 916px) {
	.container6 { margin-top: 80px; }
	.container6-one { margin-left: 60px; }
	.container6-two { margin-left: 380px; }
	.container6-three { margin-left: 670px; }
	.container7 p { padding-left: 260px; }
}

@media (max-width: 878px) {
	.container6 { margin-top: 80px; }
	.container6-one { margin-left: 60px; }
	.container6-two { margin-left: 370px; }
	.container6-three { margin-left: 640px; }
	.container7 p { padding-left: 230px; }
}

@media (max-width: 868px) {
	.container6 { margin-top: 80px; }
	.container6-one { margin-left: 50px; }
	.container6-two { margin-left: 360px; }
	.container6-three { margin-left: 630px; }
	.container7 p { padding-left: 230px; }
}

@media (max-width: 858px) {
	.container6 { margin-top: 80px; }
	.container6-one { margin-left: 50px; }
	.container6-two { margin-left: 350px; }
	.container6-three { margin-left: 620px; }
	.container7 p { padding-left: 220px; }
}

@media (max-width: 848px) {
	.container6 { margin-top: 80px; }
	.container6-one { margin-left: 50px; }
	.container6-two { margin-left: 340px; }
	.container6-three { margin-left: 610px; }
	.container7 p { padding-left: 220px; }
}

@media (max-width: 838px) {
	.container6 { margin-top: 80px; }
	.container6-one { margin-left: 50px; }
	.container6-two { margin-left: 330px; }
	.container6-three { margin-left: 600px; }
	.container7 p { padding-left: 220px; }
}

@media (max-width: 828px) {
	.container6 { margin-top: 150px; }
	.container6-one { margin-left: 50px; }
	.container6-two { margin-left: 320px; }
	.container6-three { margin-left: 590px; }
	.container7 p { padding-left: 210px; }
}

@media (max-width: 820px) {
	.container6 { margin-top: 150px; }
	.container6-one { margin-left: 50px; }
	.container6-two { margin-left: 320px; }
	.container6-three { margin-left: 590px; }
	.container7 p { padding-left: 200px; }
}

@media (max-width: 800px) {
	.container6 {margin-top: 150px; }
	.container6-one { margin-left: 50px; }
	.container6-two { margin-left: 320px; }
	.container6-three { margin-left: 580px; }
	.container7 p { padding-left: 190px; }
}

@media (max-width: 790px) {
	.container6 { margin-top: 150px; }
	.container6-one { margin-left: 50px; }
	.container6-two { margin-left: 320px; }
	.container6-three { margin-left: 560px; }
	.container7 p { padding-left: 190px; }
}

@media (max-width: 770px) {
	.container6 { margin-top: 150px; }
	.container6-one { margin-left: 50px; }
	.container6-two { margin-left: 320px; }
	.container6-three { margin-left: 550px; }
	.container7 p { padding-left: 190px; }
}

@media (max-width: 768px) {
	.container6-one { margin-left: 50px; }
	.container6-two { margin-left: 310px; }
	.container6-three { margin-left: 530px; }
	.container7 p { padding-left: 170px; }
}


@media (max-width: 760px) {
	.container6 { margin-top: 150px; }
	.container6-one { margin-left: 50px; }
	.container6-two { margin-left: 310px; }
	.container6-three { margin-left: 530px; }
	.container7 p { padding-left: 180px; }
}

@media (max-width: 740px) {
	.container6 { margin-top: 150px; }
	.container6-one { margin-left: 50px; }
	.container6-two { margin-left: 300px; }
	.container6-three { margin-left: 510px; }
	.container7 p { padding-left: 175px; }
}

@media (max-width: 720px) {
	.container6 { margin-top: 150px; }
	.container6-one { margin-left: 50px; }
	.container6-two { margin-left: 290px; }
	.container6-three { margin-left: 490px; }
	.container7 p { padding-left: 150px; }
}

@media (max-width: 700px) {
	.container6 { margin-top: 150px; }
	.container6-one { margin-left: 50px; }
	.container6-two { margin-left: 280px; }
	.container6-three { margin-left: 480px; }
	.container7 p { padding-left: 140px; }
}

@media (max-width: 690px) {
	.container6 { margin-top: 150px; }
	.container6-one { margin-left: 50px; }
	.container6-two { margin-left: 280px; }
	.container6-three { margin-left: 470px; }
	.container7 p { padding-left: 140px; }
}

@media (max-width: 680px) {
	.container6 { margin-top: 150px; }
	.container6-one { margin-left: 50px; }
	.container6-two { margin-left: 270px; }
	.container6-three { margin-left: 460px; }
	.container7 p { padding-left: 135px; }
}

@media (max-width: 670px) {
	.container6 { margin-top: 150px; }
	.container6-one { margin-left: 50px; }
	.container6-two { margin-left: 270px; }
	.container6-three { margin-left: 450px; }
	.container7 p { padding-left: 135px; }
}

@media (max-width: 660px) {
	.container6 { margin-top: 150px; }
	.container6-one { margin-left: 50px; }
	.container6-two { margin-left: 270px; }
	.container6-three { margin-left: 440px; }
	.container7 p { padding-left: 125px; }
}

@media (max-width: 650px) {
	.container6 {margin-top: 150px; }
	.container6-one { margin-left: 40px; }
	.container6-two { margin-left: 260px; }
	.container6-three { margin-left: 430px; }
	.container7 p { padding-left: 120px; }
}

@media (max-width: 640px) {
	.container6 { margin-top: 150px; }
	.container6-one { margin-left: 40px; }
	.container6-two { margin-left: 250px; }
	.container6-three { margin-left: 420px; }
	.container7 p { padding-left: 110px; }
}

@media (max-width: 630px) {
	.container6 { margin-top: 150px; }
	.container6-one { margin-left: 35px; }
	.container6-two { margin-left: 240px; }
	.container6-three { margin-left: 410px; }
	.container7 p { padding-left: 100px; }
}

@media (max-width: 620px) {
	.container6 { margin-top: 150px; height: 360px; }
	.container6-one { margin-left: 90px; }
	.container6-two {  margin-left: 380px; }
	.container6-three { margin-top: -50px; margin-left: 230px; }
	.container7 { height: 60px; }
	.container7 p { padding-top: 5px; padding-left: 95px; }
}

@media (max-width: 610px) {
	.container6 { margin-top: 150px; height: 360px; }
	.container6-one { margin-left: 90px; }
	.container6-two {  margin-left: 380px; }
	.container6-three { margin-top: -50px; margin-left: 230px; }
	.container7 { height: 60px; }
	.container7 p { padding-top: 5px; padding-left: 95px; }
}

@media (max-width: 600px) {
	.container6 { margin-top: 150px; height: 360px; }
	.container6-one { margin-left: 80px; }
	.container6-two {  margin-left: 370px; }
	.container6-three { margin-top: -50px; margin-left: 220px; }
	.container7 { height: 60px; }
	.container7 p { padding-top: 5px; padding-left: 90px; }
}

@media (max-width: 580px) {
	.container6 { margin-top: 150px; height: 360px; }
	.container6-one { margin-left: 80px; }
	.container6-two {  margin-left: 360px; }
	.container6-three { margin-top: -50px; margin-left: 210px; }
	.container7 { height: 60px; }
	.container7 p { padding-top: 5px; padding-left: 80px; }
}

@media (max-width: 560px) {
	.container6 { margin-top: 150px; height: 360px; }
	.container6-one { margin-left: 80px; }
	.container6-two {  margin-left: 350px; }
	.container6-three { margin-top: -50px; margin-left: 200px; }
	.container7 { height: 60px; }
	.container7 p { padding-top: 5px; padding-left: 70px; }
}

@media (max-width: 550px) {
	.container6 { margin-top: 150px; height: 360px; }
	.container6-one { margin-left: 70px; }
	.container6-two {  margin-left: 340px; }
	.container6-three { margin-top: -50px; margin-left: 190px; }
	.container7 { height: 60px; }
	.container7 p { padding-top: 5px; padding-left: 65px; }
}

@media (max-width: 530px) {
	.container6 { margin-top: 150px; height: 360px; }
	.container6-one { margin-left: 60px; }
	.container6-two {  margin-left: 330px; }
	.container6-three { margin-top: -50px; margin-left: 180px; }
	.container7 { height: 60px; }
	.container7 p { padding-top: 5px; padding-left: 60px; }
}

@media (max-width: 520px) {
	.container6 { mmargin-top: 150px; height: 360px; }
	.container6-one { margin-left: 50px; }
	.container6-two {  margin-left: 320px; }
	.container6-three { margin-top: -50px; margin-left: 170px; }
	.container7 { height: 60px; }
	.container7 p { padding-top: 5px; padding-left: 50px; }
}

@media (max-width: 510px) {
	.container6 { mmargin-top: 150px; height: 360px; }
	.container6-one { margin-left: 50px; }
	.container6-two {  margin-left: 310px; }
	.container6-three { margin-top: -50px; margin-left: 160px; }
	.container7 { height: 60px; }
	.container7 p { padding-top: 5px; padding-left: 40px; }
}

@media (max-width: 500px) {
	.container6 { mmargin-top: 150px; height: 360px; }
	.container6-one { margin-left: 50px; }
	.container6-two {  margin-left: 300px; }
	.container6-three { margin-top: -50px; margin-left: 150px; }
	.container7 { height: 60px; }
	.container7 p { padding-top: 5px; padding-left: 40px; }
}

@media (max-width: 490px) {
	.container6 { mmargin-top: 150px; height: 360px; }
	.container6-one { margin-left: 50px; }
	.container6-two {  margin-left: 290px; }
	.container6-three { margin-top: -50px; margin-left: 150px; }
	.container7 { height: 60px; }
	.container7 p { padding-top: 5px; padding-left: 30px; }
}

@media (max-width: 480px) {
	.container6 { margin-top: 150px; height: 360px; }
	.container6-one { margin-left: 50px; }
	.container6-two {  margin-left: 280px; }
	.container6-three { margin-top: -50px; margin-left: 150px; }
	.container7 { height: 60px; }
	.container7 p { padding-top: 5px; padding-left: 30px; }
}

@media (max-width: 470px) {
	.container6 { margin-top: 150px; height: 360px; }
	.container6-one { margin-left: 50px; }
	.container6-two {  margin-left: 270px; }
	.container6-three { margin-top: -50px; margin-left: 150px; }
	.container7 { height: 60px; }
	.container7 p { padding-top: 5px; padding-left: 30px; font-size: 15px; }
}

@media (max-width: 460px) {
	.container6 { margin-top: 150px; height: 360px; }
	.container6-one { margin-left: 50px; }
	.container6-two {  margin-left: 260px; }
	.container6-three { margin-top: -50px; margin-left: 150px; }
	.container7 { height: 60px; }
	.container7 p { padding-top: 5px; padding-left: 30px; font-size: 15px; }
}

@media (max-width: 450px) {
	.container6 { margin-top: 150px; height: 500px; }
	.container6-one { margin-left: 50px; }
	.container6-two { margin-top: -50px; margin-left: 50px; }
	.container6-three { margin-top: -90px; margin-left: 50px; }
	.container7 { height: 60px; }
	.container7 p { padding-top: 5px; padding-left: 25px; font-size: 15px; }
}

@media (max-width: 440px) {
	.container6 { margin-top: 150px; height: 500px; }
	.container6-one { margin-left: 50px; }
	.container6-two { margin-top: -50px; margin-left: 50px; }
	.container6-three { margin-top: -90px; margin-left: 50px; }
	.container7 { height: 60px; }
	.container7 p { padding-top: 5px; padding-left: 20px; font-size: 15px; }
}

@media (max-width: 430px) {
	.container6 { margin-top: 150px; height: 500px; }
	.container6-one { margin-left: 50px; }
	.container6-two { margin-top: -50px; margin-left: 50px; }
	.container6-three { margin-top: -90px; margin-left: 50px; }
	.container7 { height: 60px; }
	.container7 p { padding-top: 10px; padding-left: 40px; font-size: 13px; }
}

@media (max-width: 410px) {
	.container6 { margin-top: 150px; height: 500px; }
	.container6-one { margin-left: 50px; }
	.container6-two { margin-top: -50px; margin-left: 50px; }
	.container6-three { margin-top: -90px; margin-left: 50px; }
	.container7 { height: 60px; }
	.container7 p { padding-top: 10px; padding-left: 30px; font-size: 13px; }
}

@media (max-width: 400px) {
	.container6 { margin-top: 150px; height: 500px; }
	.container6-one { margin-left: 50px; }
	.container6-two { margin-top: -50px; margin-left: 50px; }
	.container6-three { margin-top: -90px; margin-left: 50px; }
	.container7 { height: 60px; }
	.container7 p { padding-top: 10px; padding-left: 25px; font-size: 13px; }
}

@media (max-width: 384px) {
	.container6 { margin-top: 150px; height: 500px; }
	.container6-one { margin-left: 50px; }
	.container6-two { margin-top: -50px; margin-left: 50px; }
	.container6-three { margin-top: -90px; margin-left: 50px; }
	.container7 { height: 60px; }
	.container7 p { padding-top: 10px; padding-left: 9px; font-size: 3.5vw; }
}

@media (max-width: 380px) {
	.container6 { margin-top: 150px; height: 500px; }
	.container6-one { margin-left: 50px; }
	.container6-two { margin-top: -50px; margin-left: 50px; }
	.container6-three { margin-top: -90px; margin-left: 50px; }
	.container7 { height: 60px; }
	.container7 p { padding-top: 10px; padding-left: 10px; font-size: 3.5vw; }
}

@media (max-width: 320px) {
	.container6 { margin-top: 150px; height: 500px; }
	.container6-one { margin-left: 50px; }
	.container6-two { margin-top: -50px; margin-left: 50px; }
	.container6-three { margin-top: -90px; margin-left: 50px; }
	.container7 { height: 60px; }
	.container7 p { padding-top: 5px; padding-left: 10px; font-size: 3.8vw; }
}






















