@import url('https://fonts.googleapis.com/css?family=Mandali');
body { margin: 0; padding: 0; background-color: whitesmoke; font-family: calibri; }

/* ---------------------------------------------------
   NAVBAR
----------------------------------------------------- */

nav { position: fixed; top: 0; left: 0; width: 100%; height: 100px; background: whitesmoke;  box-sizing: border-box; transition: .5s; -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, .25); border-bottom: 3px solid whitesmoke; }
nav.shrink { background: whitesmoke; height: 80px; color: white; }
nav h1 {  float: left; margin-left: 10px; margin-top: 35px; font-family: calisto MT; font-size: 25px; color: darkblue; }
nav.shrink h1 { display: none; }
nav .logo img { float: left; margin-left: 20px; margin-top: 10px; height: 80px; transition: .5s; }
nav .logo img.res { display: none; }
nav.shrink .logo img { height: 60px; margin-left: 10px; }
nav ul { float: right; margin-top: 30px; padding: 0; display: flex; transition: 0.35s all ease; }
nav ul li { list-style: none; }
nav ul li a { display: block; text-transform: uppercase; padding: 10px 20px; text-decoration: none; color: #262626; }
nav.shrink ul li a { margin-top: -10px; padding: 10px 40px; transition: .5s; }
nav ul li ul { display: block; background: white; padding: 0; min-width: 250px; position: absolute; margin-top: 45px; box-shadow: 0 2px 5px rgba(0,0,0,.5); transition: .7s; opacity: 0; visibility: hidden; transform: translateY(40px);  border-bottom: 3px solid #6b8e23; }
nav.shrink ul li ul { margin-top: 20px; }
nav ul li a:hover { color: green; transition: .5s; }
nav ul li:hover ul { opacity: 1; visibility: visible; transform: translateY(0px); }
nav ul li ul li a { padding: 10px; color: #262626; }
nav.shrink ul li ul li a { color: black; padding: 10px; }
.drop:hover { color: darkgreen; }
nav ul li a.active { color: green; }
nav ul li a.active:hover { color: #262626; }
.icon-menu { display: none; }

/* ---------------------------------------------------
   NAVBAR ON SMALLER SCREENS
----------------------------------------------------- */

@media only screen and (max-width: 1290px) {
	nav {
		height: 80px;
	}

	nav.shrink {
		padding: 10px 100px 10px 10px;
	}

	.icon-menu {
		position: relative;
		display: block;
		float: right;
		margin-top: 30px;
		margin-right: 40px;
		cursor: pointer;
		transform: translateX(-100%);
		transition: all 0.3s;
	}

	.icon-menu:hover {
		color: white;

	}

	nav .logo img {
		margin-top: 15px;
		height: 50px;
		margin-left: 50px;
	}

	nav.shrink .logo img{
		height: 50px;
		margin-left: 10px;
	}

	nav h1 {
		margin-top: 25px;
		margin-left: 10px;
	}

	nav.shrink h1 {
		display: block;
		margin-left: 15px;
	}

	nav ul {
		margin-top: 0;
		float: right;
		display: block;
		background: white;
		width: 100%;
		padding: 0;
		display: none;
		transform: translateX(0%);
	}

	nav ul li ul {
		
	}

	nav.shrink ul li a {
		padding: 10px 40px;
	}

	.active {
		display: block;
	}	
}

/* Galaxy s5 ~ iphone5/SE ~ iphone 6/7/8 */
@media (max-width: 360px) {
	nav {
		height: 50px;
	}

	nav h1 {
		display: none;
	}

	nav .logo img {
		display: none;
	}

	nav .logo img.res {
		display: block;
		height: 30px;
		margin-left: 10px;
		margin-top: 10px;
	}

	.icon-menu {
		margin-right: 10px;
		margin-top: 15px;
	}
}

/* pixel 2 ~ pixel 2 XL */
@media (max-width: 411px) {
	nav {
		height: 50px;
	}

	nav h1 {
		display: none;
	}

	nav .logo img {
		display: none;
	}

	nav .logo img.res {
		display: block;
		height: 30px;
		margin-left: 10px;
		margin-top: 10px;
	}

	.icon-menu {
		margin-right: 10px;
		margin-top: 15px;
	}
}

/* iphone 6/7/8 plus ~ iphone X */
@media (max-width: 414px) {
	nav {
		height: 50px;
	}

	nav h1 {
		display: none;
	}

	nav .logo img {
		display: none;
	}

	nav .logo img.res {
		display: block;
		height: 30px;
		margin-left: 10px;
		margin-top: 10px;
	}

	.icon-menu {
		margin-right: 10px;
		margin-top: 15px;
	}
}

/* ipad */
@media (max-width: 765px) {
	nav {
		height: 50px;
	}

	nav h1 {
		display: none;
	}

	nav .logo img {
		display: none;
	}

	nav .logo img.res {
		display: block;
		height: 30px;
		margin-left: 10px;
		margin-top: 10px;
	}

	.icon-menu {
		margin-right: 10px;
		margin-top: 15px;
	}
}

/* ---------------------------------------------------
   BUTTON
----------------------------------------------------- */

button { background: #DAA520; border: 1px solid #ffd700; font-size: 15px; border-radius: 4px; transition: .6s; padding: 10px; }
button a { text-decoration: none; color: white; }
button:focus { outline: none; }
button:before { content: ''; display: block; position: absolute; background: rgba(255,255,255,.5); left: 0; top: 0; opacity: .5s; filter: blur(30px); transform: translateX(-130px) skewX(-15deg); }
button:after { content: ''; display: block; position: absolute; background: rgba(255,255,255,.2); left: 30px; top: 0; opacity: 0; filter: blur(30px); transform: translate(-100px) scaleX(-15deg); }
button:hover { background: #338033; cursor: pointer; }
button:hover:before { transform: translateX(300px) skewX(-15deg); opacity: .6; transition: .7s; }
button:hover:after { transform: translateX(300px) skewX(-15deg); opacity: 1; transition: .7s; }

/* ---------------------------------------------------
   CONTENT
----------------------------------------------------- */

/* ---------------------------------------------------
   BOUNDERY 
----------------------------------------------------- */

.boundery0 { float: left; width: 100%; padding: 10px; height: 80px; box-sizing: border-box; color: whitesmoke; font-family: 'Mandali', sans-serif; }
#boundery0:after { content: ""; display: table; clear: both; }
hr.type_10 {
border: 0;
height: 55px;
background-image: url(hr/image/type_10.png);
background-repeat: no-repeat;
margin-left: 350px;
}

.boundery0-1 { float: left; width: 100%; padding: 10px; height: 400px; box-sizing: border-box; color: whitesmoke; font-family: 'Mandali', sans-serif; }
#boundery0-1:after { content: ""; display: table; clear: both; }

.boundery2 { float: left; width: 100%; padding: 10px; height: 200px; box-sizing: border-box; color: whitesmoke; font-family: 'Mandali', sans-serif; }
#boundery2:after { content: ""; display: table; clear: both; }

.boundery1 { float: left; width: 100%; padding: 10px; height: 200px; box-sizing: border-box; color: whitesmoke; font-family: 'Mandali', sans-serif; }
#boundery1:after { content: ""; display: table; clear: both; }

/* BOUNDERY ON SMALLER SCREENS */

@media (max-width: 1000px) {
	.boundery0-1 {
		display: none;
	}

	.boundery2 {
		height: 100px;
	}
}

/* ---------------------------------------------------
   TITLE 
----------------------------------------------------- */

.Title { float: left; width: 100%; padding: 10px; height: 200px; box-sizing: border-box; color: whitesmoke; font-family: 'Mandali', sans-serif; }
#Title:after { content: ""; display: table; clear: both; }
.Title h1 { color: black; font-size: 50px; text-align: center; }

.Title2 { float: left; width: 100%; padding: 10px; height: 200px; box-sizing: border-box; color: whitesmoke; font-family: 'Mandali', sans-serif; }
#Title2:after { content: ""; display: table; clear: both; }
.Title2 h1 { color: black; font-size: 50px; text-align: center; }

/* ---------------------------------------------------
   TITLE ON SMALLER SCREENS
----------------------------------------------------- */

@media (max-width: 710px) {
	.Title h1 {
		font-size: 40px;
	}
}

@media (max-width: 500px) {
	.Title h1 {
		font-size: 30px;
	}
}

@media (max-width: 405px) {
	.Title h1 {
		font-size: 25px;
	}

	.Title img {
		width: 80px;
	}
}

@media (max-width: 1000px) {
	.Title2 {
		display: none;
	}
}

/* ---------------------------------------------------
   PARALLAX
----------------------------------------------------- */

.parallax { background: url('img/quiz2.jpg') no-repeat center; background-size: cover; background-attachment: fixed; height: 350px;  }
h1.visit { padding-top: 150px; text-align: center; font-size: 50px; color: white; font-family: monospace; font-family: 'Mandali', sans-serif; }

/* ---------------------------------------------------
   PARALLAX ON SMALLER SCREENS
----------------------------------------------------- */

@media (max-width: 875px) {
	h1.visit { font-size: 40px; word-spacing: normal; }
}

@media (max-width: 760px) {
	.parallax { height: 300px; }
	h1.visit { font-size: 40px; padding-top: 130px; word-spacing: normal; }
}

@media (max-width: 760px) {
	.parallax { height: 300px; }
	h1.visit { font-size: 40px; padding-top: 100px; word-spacing: normal; }
}

@media (max-width: 593px) {
	.parallax { height: 300px; }
	h1.visit { font-size: 30px; padding-top: 100px; word-spacing: normal; }
}

@media (max-width: 445px) {
	.parallax { height: 200px; }
	h1.visit { font-size: 25px; padding-top: 80px; word-spacing: normal; }
}

@media (max-width: 371px) {
	.parallax { height: 200px; }
	h1.visit { font-size: 20px; padding-top: 80px; word-spacing: normal; }
}

/* ---------------------------------------------------
   FIRST LAYER
----------------------------------------------------- */

.container1 { padding: 50px; background-color: white; }
.container1 h2	{ font-size: 25px; text-align: center; color: #737373; font-family: 'Mandali', sans-serif;  }

/* ---------------------------------------------------
   SECOND LAYER
----------------------------------------------------- */

.column2 { float: left; width: 50%; padding: 10px; height: 660px; box-sizing: border-box; color: whitesmoke; font-family: 'Mandali', sans-serif; }
.column2 h1 { margin: 0; text-align: center; font-size: 50px; color: white; margin-top: 200px; }
.column2 h2 { margin: 0; text-align: center; }
.column2 img { width: 100%; height: 640px; }
.column2 p { color: white; display: none; }
#container2:after { content: ""; display: table; clear: both; }

/* ---------------------------------------------------
   SECOND LAYER ON SMALLER SCREENS
----------------------------------------------------- */

@media (max-width: 710px) {
    .column2 {
        width: 100%;
        height: 660px;
    }

    #clm2-1 {
    	display: none;
    }

    #clm2-2 {
    	width: 100%;
    	background-image: url('img/nursery.jpg');
    	background-repeat: no-repeat;
    }

    #clm2-2 h1 {
    	background-color: #00000042;
    }

    #clm2-2 h2 {
    	background-color: #00000042;
    }
}

@media (max-width: 405px) {
	#clm2-2 h1 {
		font-size: 30px;
	}

	#clm2-2 h2 {
		font-size: 20px;
	}
}

/* ---------------------------------------------------
   THIRD LAYER
----------------------------------------------------- */

.column3 { float: left; width: 50%; padding: 10px; height: 670px; box-sizing: border-box; color: whitesmoke; font-family: 'Mandali', sans-serif; }
.column3 h1 { margin: 0; text-align: center; font-size: 50px; color: white; margin-top: 200px; }
.column3 h2 { margin: 0; text-align: center; }
.column3 img { width: 100%; height: 645px; }
#container3:after { content: ""; display: table; clear: both; }


/* ---------------------------------------------------
   THIRD LAYER ON SMALLER SCREENS
----------------------------------------------------- */

@media (max-width: 710px) {
    .column3 {
        width: 100%;
    }

    #clm3-01 {
    	display: none;
    }

    #clm3-0 {
    	width: 100%;
    	background-image: url('img/kinder.jpg');
    	background-repeat: no-repeat;
    }

    #clm3-0 h1 {
    	background-color: #00000042;
    }

    #clm3-0 h2 {
    	background-color: #00000042;
    }
}

@media (max-width: 405px) {
	#clm3-0 h1 {
		font-size: 30px;
	}

	#clm3-0 h2 {
		font-size: 20px;
	}
}

/* ---------------------------------------------------
   FOURTH LAYER
----------------------------------------------------- */

.column4 { float: left; width: 50%; padding: 10px; height: 665px; box-sizing: border-box; color: whitesmoke; font-family: 'Mandali', sans-serif; }
.column4 h1 { margin: 0; text-align: center; font-size: 50px; color: white; margin-top: 200px; }
.column4 h2 { margin: 0; text-align: center; }
.column4 img { width: 100%; height: 640px; }
#container4:after { content: ""; display: table; clear: both; }


/* ---------------------------------------------------
   FOURTH LAYER ON SMALLER SCREENS
----------------------------------------------------- */

@media (max-width: 1250px) {
    .column4 {
        width: 100%;
    }

    #clm4-1 {
    	display: none;
    }

    #clm4-2 {
    	width: 100%;
    	height: 500px;
    	background-image: url('img/prep2.jpg');
    	background-repeat: no-repeat;
    }

    #clm4-2 h1 {
    	background-color: #00000042;
    }

    #clm4-2 h2 {
    	background-color: #00000042;
    }
}

@media (max-width: 405px) {
	#clm4-2 h1 {
		font-size: 30px;
	}

	#clm4-2 h2 {
		font-size: 20px;
	}
}

/* ---------------------------------------------------
   FIFTH LAYER
----------------------------------------------------- */

.column5-0 { float: left; width: 60%; padding: 10px; height: 500px; box-sizing: border-box; color: whitesmoke; font-family: 'Mandali', sans-serif; }
#container5-0:after { content: ""; display: table; clear: both; }
.column5-0 h2 { margin-top: 200px; color: black; text-align: center; }

.column5-1 { float: left; width: 40%; padding: 10px; height: 500px; box-sizing: border-box; color: whitesmoke; font-family: 'Mandali', sans-serif; }
#container5-1:after { content: ""; display: table; clear: both; }
.column5-1 img { width: 200px; margin-top: 200px; display: block; margin-left: auto; margin-right: auto; }

/* ---------------------------------------------------
   FIFTH LAYER ON SMALLER SCREENS
----------------------------------------------------- */

@media (max-width: 1250px) {
    .column5-0 {
        width: 100%;
    }

    .column5-1 {
        width: 100%;
        height: 400px;
    }

    .column5-1 img {
    	margin-top: 0;
    }
}

@media (max-width: 328px) {
	.column5-0 {
        height: 600px;
    }
}

/* ---------------------------------------------------
   SIXTH LAYER
----------------------------------------------------- */

.column6 { float: left; width: 50%; padding: 10px; height: 665px; box-sizing: border-box; color: whitesmoke; font-family: 'Mandali', sans-serif; }
.column6 h1 { margin: 0; text-align: center; font-size: 50px; color: white; margin-top: 200px; }
.column6 h2 { margin: 0; text-align: center; }
.column6 img { width: 100%; height: 640px; }
#container6:after { content: ""; display: table; clear: both; }

/* ---------------------------------------------------
   SIXTH LAYER ON SMALLER SCREENS
----------------------------------------------------- */

@media (max-width: 1250px) {
    .column6 {
        width: 100%;
    }

    #clm6-1 {
    	display: none;
    }

    #clm6-2 {
    	width: 100%;
    	height: 550px;
    	background-image: url('img/grd1-2.png');
    	background-repeat: no-repeat;
    }

    #clm6-2 h1 {
    	background-color: #00000042;
    }

    #clm6-2 h2 {
    	background-color: #00000042;
    }
}

@media (max-width: 405px) {
	#clm6-2 h1 {
		font-size: 30px;
	}

	#clm6-2 h2 {
		font-size: 20px;
	}
}

/* ---------------------------------------------------
   SEVENTH LAYER
----------------------------------------------------- */

.column7 { float: left; width: 100%; padding: 10px; height: 450px; box-sizing: border-box; color: whitesmoke; font-family: 'Mandali', sans-serif; }
#container7:after { content: ""; display: table; clear: both; }

.column7 img { width: 200px; display: block; margin-left: auto; margin-right: auto; margin-top: 30px; }
.column7 h1 { text-align: center; margin-top: -40px; color: black; }
.column7 .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    display: block; margin-left: auto; margin-right: auto; margin-top: 30px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1), 0 4px 15px 0 rgba(0,0,0,0.1);
}

.column7 .button1 {
    background-color: #daa520; 
    color: white; 
    border: 2px solid #daa520;
}

.column7 .button1:hover {
    background-color: white;
    color: black;
}

.column7 .button1 a:hover {
    color: black;
}

.column7 p { color: #999999; text-align: center; font-size: 20px; }

/* ---------------------------------------------------
   SEVENTH LAYER ON SMALLER SCREENS
----------------------------------------------------- */

@media (max-width: 1000px) {
    .column7 {
        width: 100%;
        height: 600px;
    }
}

/* ---------------------------------------------------
   FOOTER
----------------------------------------------------- */

* { box-sizing: border-box; }
.column8 { float: left; width: 25%; padding: 10px; height: 220px; }
.column8 h3 { padding-left: 20px; font-family: 'Mandali', sans-serif; color: whitesmoke; }
.column8 p { padding-left: 20px; font-size: 18px; color: whitesmoke; }

/* Facebook icon */
.column8 .socialIcons { padding-left: 20px; }
.socialIcons li { background-color: yellow; list-style: none; display: inline-block; margin: 4px; border-radius: 2em; overflow: hidden; }
.socialIcons li a { display: block; padding: .5em; min-width: 2.28571429em; max-width: 2.28571429em; height: 2.28571429em; white-space: nowrap; line-height: 1.5em; transition: .5s; text-decoration: none; font-family: calibri; color: #fff; }
.socialIcons li i { margin-right: .5em; }
.socialIcons li:hover a { max-width: 200px; padding-right: 1em; }
.socialIcons .facebook { background-color: #3b5998; }

/* Button */
.column8 .button2 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    display: block; margin-left: auto; margin-right: auto;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1), 0 4px 15px 0 rgba(0,0,0,0.1);
}

.column8 .button2 { background-color: #daa520; color: white;  border: 2px solid #daa520; display: block; margin-left: auto; margin-right: auto; }
.column8.button2:hover { background-color: white; color: black; }

.row2:after { content: ""; display: table; clear: both; }

/* ---------------------------------------------------
   FOOTER FOR SMALLER SCREENS
----------------------------------------------------- */

@media screen and (max-width: 925px) {
    #clm3-1 {
        width: 33.33%;
    }

    #clm3-2 {
        width: 33.33%;
    }

    #clm3-3 {
        width: 33.33%;
    }

    #clm3-4 { 
        width: 100%;
    }

    #clm3-4 h3 {
        text-align: center;
    }
}

@media screen and (max-width: 820px) {
    #clm3-1 {
        margin-top: 100px;
    }

    #clm3-2 {
        margin-top: 100px;
    }

    #clm3-3 {
        margin-top: 100px;
    }
}

@media screen and (max-width: 649px) {
    #clm3-1 {
        height: 240px;
    }

    #clm3-2 {
        height: 240px;
    }

    #clm3-3 {
        height: 240px;
    }
}

@media screen and (max-width: 463px) {
    #clm3-1 {
        height: 240px;
        width: 50%;
    }

    #clm3-2 {
        width: 50%;
        height: 240px;
    }

    #clm3-3 {
        width: 50%;
        height: 220px;
    }

    #clm3-4 {
        width: 50%;
    }
}

@media screen and (max-width: 463px) {
    #clm3-3 {
        height: 240px;
        margin-top: 0px;
    }

    #clm3-4 {
        height: 240px;
    }
}

@media screen and (max-width: 430px) {
    #clm3-1 {
        width: 100%;
        height: 190px;
    }

    #clm3-2 {
        width: 100%;
        height: 140px;
        margin-top: 0px;
    }

    #clm3-3 {
        width: 100%;
        height: 190px
    }

    #clm3-4 {
        width: 100%;
        height: 190px
    }
}


/* ---------------------------------------------------
   FOOTER X
----------------------------------------------------- */

* { box-sizing: border-box; }
.column9 { float: left; width: 100%; padding: 10px; height: 50px; }
.column9 p { text-align: center; font-size: 15px; margin-top: 5px; color: whitesmoke; }

.row3:after { content: ""; display: table; clear: both; }

/* ---------------------------------------------------
   FOOTER X FOR SMALLER SCREENS
----------------------------------------------------- */

@media screen and (max-width: 925px) {
    .column9 {
        width: 100%;
    }
}

/* ---------------------------------------------------
   EIGHT LAYER
----------------------------------------------------- */

.column { float: left; position: relative; width: 25%; padding: 10px; height: 260px; }
.column img { width: 100%; }
.hovered {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #0000009c;
  cursor: pointer;
}

#over:hover .hovered {
  opacity: 1;
}

.texttext {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Mandali', sans-serif;
}

#text {
	font-size: 20px;
}

.row:after { content: ""; display: table;  clear: both; }


/* ---------------------------------------------------
   EIGHT LAYER FOR SMALLER SCREENS
----------------------------------------------------- */

@media screen and (max-width: 1000px) {
    .column {
        display: none;
    }
}



