@import url('https://fonts.googleapis.com/css?family=Mandali');
body { margin: 0; padding: 0; font-family: calibri; background-color: whitesmoke; }

/* ---------------------------------------------------
   NAVBAR
----------------------------------------------------- */
nav { position: fixed; top: 0; left: 0; width: 100%; height: 100px; background: whitesmoke;  box-sizing: border-box; transition: .5s; -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, .25); border-bottom: 3px solid whitesmoke; }
nav.shrink { background: whitesmoke; height: 80px; color: white; }
nav h1 {  float: left; margin-left: 10px; margin-top: 35px; font-family: calisto MT; font-size: 25px; color: darkblue; }
nav.shrink h1 { display: none; }
nav .logo img { float: left; margin-left: 20px; margin-top: 10px; height: 80px; transition: .5s; }
nav .logo img.res { display: none; }
nav.shrink .logo img { height: 60px; margin-left: 10px; }
nav ul { float: right; margin-top: 30px; padding: 0; display: flex; transition: 0.35s all ease; }
nav ul li { list-style: none; }
nav ul li a { display: block; text-transform: uppercase; padding: 10px 20px; text-decoration: none; color: #262626; }
nav.shrink ul li a { margin-top: -10px; padding: 10px 40px; transition: .5s; }
nav ul li ul { display: block; background: white; padding: 0; min-width: 250px; position: absolute; margin-top: 45px; box-shadow: 0 2px 5px rgba(0,0,0,.5); transition: .7s; opacity: 0; visibility: hidden; transform: translateY(40px);  border-bottom: 3px solid #6b8e23; }
nav.shrink ul li ul { margin-top: 20px; }
nav ul li a:hover { color: green; transition: .5s; }
nav ul li:hover ul { opacity: 1; visibility: visible; transform: translateY(0px); }
nav ul li ul li a { padding: 10px; color: #262626; }
nav.shrink ul li ul li a { color: black; padding: 10px; }
.drop:hover { color: darkgreen; }
nav ul li a.active { color: green; }
nav ul li a.active:hover { color: #262626; }
.icon-menu { display: none; }

/* ---------------------------------------------------
    NAVBAR ON SMALLER SCREENS
----------------------------------------------------- */
@media only screen and (max-width: 1290px) {
	nav {
		height: 80px;
	}

	nav.shrink {
		padding: 10px 100px 10px 10px;
	}

	.icon-menu {
		position: relative;
		display: block;
		float: right;
		margin-top: 30px;
		margin-right: 40px;
		cursor: pointer;
		transform: translateX(-100%);
		transition: all 0.3s;
	}

	.icon-menu:hover {
		color: white;

	}

	nav .logo img {
		margin-top: 15px;
		height: 50px;
		margin-left: 50px;
	}

	nav.shrink .logo img{
		height: 50px;
		margin-left: 10px;
	}

	nav h1 {
		margin-top: 25px;
		margin-left: 10px;
	}

	nav.shrink h1 {
		display: block;
		margin-left: 15px;
	}

	nav ul {
		margin-top: 0;
		float: right;
		display: block;
		background: white;
		width: 100%;
		padding: 0;
		display: none;
		transform: translateX(0%);
	}

	nav ul li ul {
		
	}

	nav.shrink ul li a {
		padding: 10px 40px;
	}

	.active {
		display: block;
	}	
}

/* Galaxy s5 ~ iphone5/SE ~ iphone 6/7/8 */
@media (max-width: 360px) {
	nav {
		height: 50px;
	}

	nav h1 {
		display: none;
	}

	nav .logo img {
		display: none;
	}

	nav .logo img.res {
		display: block;
		height: 30px;
		margin-left: 10px;
		margin-top: 10px;
	}

	.icon-menu {
		margin-right: 10px;
		margin-top: 15px;
	}
}

/* pixel 2 ~ pixel 2 XL */
@media (max-width: 411px) {
	nav {
		height: 50px;
	}

	nav h1 {
		display: none;
	}

	nav .logo img {
		display: none;
	}

	nav .logo img.res {
		display: block;
		height: 30px;
		margin-left: 10px;
		margin-top: 10px;
	}

	.icon-menu {
		margin-right: 10px;
		margin-top: 15px;
	}
}

/* iphone 6/7/8 plus ~ iphone X */
@media (max-width: 414px) {
	nav {
		height: 50px;
	}

	nav h1 {
		display: none;
	}

	nav .logo img {
		display: none;
	}

	nav .logo img.res {
		display: block;
		height: 30px;
		margin-left: 10px;
		margin-top: 10px;
	}

	.icon-menu {
		margin-right: 10px;
		margin-top: 15px;
	}
}

/* ipad */
@media (max-width: 765px) {
	nav {
		height: 50px;
	}

	nav h1 {
		display: none;
	}

	nav .logo img {
		display: none;
	}

	nav .logo img.res {
		display: block;
		height: 30px;
		margin-left: 10px;
		margin-top: 10px;
	}

	.icon-menu {
		margin-right: 10px;
		margin-top: 15px;
	}
}


/* ---------------------------------------------------
    BANNER
----------------------------------------------------- */

.parallax { background: url('img/commencement2.jpg') no-repeat center; background-size: cover; background-attachment: fixed; height: 700px; }
.parallax-window { min-height: 400px; background: transparent; }
h1.welcome { text-align: center; margin-top: -150px; color: #fff; transition: .5s; font-family: monospace; font-family: 'Mandali', sans-serif; }
h1.school { text-align: center; font-size: 70px; margin-top: -60px; color: #fff; transition: .5s; font-family: monospace; font-family: 'Mandali', sans-serif; }
h1.welcome2 { text-align: center; margin-top: -80px; color: #fff; transition: .5s; font-family: monospace; font-family: 'Mandali', sans-serif; }
/* arrow down */
.circle { position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); border: 2px solid #fff; border-radius: 50%; width: 100px; height: 100px; text-align: center; line-height: 110px; font-size: 80px; overflow: hidden; top: 570px; }
.circle .fa { color: #fff; margin: 0; padding: 0; animation: animate 1s linear infinite; }
.circle::before { content: 'SCROLL DOWN'; position: absolute; color: #fff; font-family: arial; font-size: 10px; left: 12px; top: -22px; }

@keyframes animate { 
    0% { transform: translateY(-50px); text-shadow: 0 50px 0 #fff; }
    20% { transform: translateY(0px); text-shadow: 0 10px 0 #fff; }
    40% { transform: translateY(0px); text-shadow: 0 -10px 0 #fff; }
    60% { transform: translateY(0px); text-shadow: 0 0px 0 #fff; }
    100% { transform: translateY(100px); text-shadow: 0 50px 0 #fff; }
}

/* ---------------------------------------------------
   BANNER ON SMALLER SCREENS
----------------------------------------------------- */

@media (max-width: 1256px) {
	.parallax { height: 500px; }
	h1.welcome { margin-top: -250px; }
	h1.school { font-size:  }
	.circle { top: 400px; }
}

@media (max-width: 723px) {
	.circle { display: none; }
	h1.school { font-size: 50px; }
	h1.welcome2 { margin-top: -60px; }
	.parallax { height: 400px; }
}

@media (max-width: 596px) {
	h1.welcome { margin-top: -300px; }
	h1.school { font-size: 50px; }
	h1.welcome2 { margin-top: -60px; }
}

@media (max-width: 325px) {
    .parallax { height: 250px; }
    h1.welcome { margin-top: -320px; }
    h1.school { font-size: 30px; margin-top: -35px; }
    h1.welcome2 { margin-top: -40px; }
}


/* ---------------------------------------------------
   CONTENT
----------------------------------------------------- */

.body-text { padding: 10px; }
.body-text h2 { text-align: center; font-size: 35px; font-family: 'Mandali', sans-serif;  }
/* small screens */
@media (max-width: 619px) {
	.body-text h2 { font-size: 30px; }
}


/* ---------------------------------------------------
   BUTTON
----------------------------------------------------- */

button { background: #DAA520; border: 1px solid #ffd700; font-size: 15px; border-radius: 4px; transition: .6s; padding: 10px; }
button a { text-decoration: none; color: white; }
button:focus { outline: none; }
button:before { content: ''; display: block; position: absolute; background: rgba(255,255,255,.5); left: 0; top: 0; opacity: .5s; filter: blur(30px); transform: translateX(-130px) skewX(-15deg); }
button:after { content: ''; display: block; position: absolute; background: rgba(255,255,255,.2); left: 30px; top: 0; opacity: 0; filter: blur(30px); transform: translate(-100px) scaleX(-15deg); }
button:hover { background: #338033; cursor: pointer; }
button:hover:before { transform: translateX(300px) skewX(-15deg); opacity: .6; transition: .7s; }
button:hover:after { transform: translateX(300px) skewX(-15deg); opacity: 1; transition: .7s; }

/* ---------------------------------------------------
   BOUNDERY
----------------------------------------------------- */

.boundery1 { float: left; width: 100%; padding: 10px; height: 200px; }
.boundery2 { float: left; width: 100%; padding: 10px; height: 200px; }
.boundery3 { float: left; width: 100%; padding: 10px; height: 200px; }
.boundery4 { float: left; width: 100%; padding: 10px; height: 200px; }

/* ---------------------------------------------------
   FIRST LINE
----------------------------------------------------- */

/* container 1 */
/* column1 */
* { box-sizing: border-box; }
.column1 {  float: left; width: 33.33%; padding: 10px; height: 400px; }
.column1 img { width: 400px; display: block; margin-left: auto; margin-right: auto; }
.column1 p { text-align: center; }
.column1 p.title1 { font-size: 30px; margin-top: -10px;  }
.column1 p.first { color: #737373; font-size: 22px; margin-top: -10px; font-family: 'Mandali', sans-serif; }

/* button 1 */
.column1 .button1 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    display: block; margin-left: auto; margin-right: auto; margin-top: 30px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1), 0 4px 15px 0 rgba(0,0,0,0.1);
}

.column1 .button1 { background-color: #daa520; color: white;  border: 2px solid #daa520; display: block; margin-left: auto; margin-right: auto; }

.column1 .button1:hover { background-color: white; color: black; }

.row1:after { content: ""; display: table; clear: both; }

/* ---------------------------------------------------
   COLUMN 1 FOR SMALLER SCREENS
----------------------------------------------------- */

@media screen and (max-width: 1224px) {
    .column1 img {
    	width: 370px;
    }

    .column1 .button1 {
    	padding: 14px 30px;
    }
}

@media screen and (max-width: 1135px) {
    .column1 img {
    	width: 350px;
    }

    .column1 .button1 {
    	padding: 12px 28px;
    }

    .column1 p.title1 {
    	font-size: 25px;
    }
}

@media screen and (max-width: 1079px) {
    .column1 img {
    	width: 330px;
    }

    .column1 .button1 {
    	padding: 10px 26px;
    	font-size: 14px;
    }

    .column1 p.title1 {
    	font-size: 25px;
    }

    .column1 p.first {
    	font-size: 18px;
    }
}

@media screen and (max-width: 1018px) {
    .column1 img {
    	width: 300px;
    }
}

@media screen and (max-width: 925px) {
    .column1 {
        width: 50%;
    }

    #clm3 {
    	width: 100%;
    }
}

@media screen and (max-width: 619px) {
    .column1 {
        width: 50%;
    }

    .column1 img {
    	width: 260px;
    }

    .column1 .button1 {
    	padding: 9px 24px;
    	font-size: 12px;
    }
    
    .column1 p.title1 {
    	font-size: 23px;
    }

    .column1 p.first {
    	font-size: 15px;
    }

    #clm3 {
    	width: 100%;
    }
}

@media screen and (max-width: 538px) {
    .column1 {
        width: 100%;
    }
}

/* ---------------------------------------------------
   SECOND LINE
----------------------------------------------------- */

/* column2 */
* { box-sizing: border-box; }
.column2 { float: left; width: 50%; padding: 10px; height: 400px; }
.column2 img { margin-top: 100px; margin-left: 20px; }
.column2 h1 { padding-left: 100px; margin-top: -120px; font-family: 'Mandali', sans-serif; }
.column2 p { padding-left: 100px; text-align: justify; margin-top: -20px; font-size: 20px; font-family: 'Mandali', sans-serif; }

/* button2 */
.column2 .button2 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    display: block; margin-left: auto; margin-right: auto; margin-top: 30px;
}

.column2 .button2 { background-color: #daa520; color: white;  border: 2px solid #daa520; display: block; margin-left: auto; margin-right: auto; }

.column2 .button2:hover { background-color: white; color: black; }

.row2:after { content: ""; display: table; clear: both; }

/* ---------------------------------------------------
   COLUMN 2 FOR SMALLER SCREENS
----------------------------------------------------- */

@media screen and (max-width: 925px) {
    .column2 {
        width: 100%;
    }
}

@media screen and (max-width: 1135px) {
    .column2 h1 {
    	font-size: 30px;
    }
}

@media screen and (max-width: 1079px) {
	.column2 {
		height: 300px;
	}

    .column2 h1 {
    	font-size: 25px;
    }

    .column2 p {
    	font-size: 17px;
    }
}

@media screen and (max-width: 1018px) {
    .column2 img {
    	width: 60px;
    }
}

@media screen and (max-width: 607px) {
    #clm2-1 {
        height: 330px;
    }

     #clm2-2 {
        height: 290px;
    }
}

@media screen and (max-width: 925px) {
    .column2 {
        width: 100%;
        height: 250px;
    }

    #clm2-1 {
        margin-top: -100px;
    }
}

@media screen and (max-width: 555px) {
    .column2 img {
    	margin-top: 90px;
    }
}

@media screen and (max-width: 430px) {
    #clm2-1 {
        height: 340px;
    }

    #clm2-2 {
        height: 350px;
    }
}

@media screen and (max-width: 483px) {
    .column2 img {
    	margin-top: 80px;
    }
}

@media screen and (max-width: 418px) {
    #clm2-1 {
        height: 370px;
    }
}

@media screen and (max-width: 403px) {
    #clm2-1 {
        height: 350px;
    }

    .column2 img {
    	width: 40px;
    	margin-top: 90px;
    }

    .column2 h1 {
    	padding-left: 80px;
    }

    .column2 p {
    	padding-left: 80px;
    }
}

@media screen and (max-width: 370px) {
    #clm2-1 {
        height: 380px;
    }

    #clm2-2 {
        height: 370px;
    }
}


@media screen and (max-width: 370px) {
    .column2 img {
    	margin-top: 100px;
    }

    .column2 h1.scnd-1 {
    	font-size: 22px;
    }
}

@media screen and (max-width: 358px) {
    #clm2-1 {
        height: 400px;
    }
}

@media screen and (max-width: 349px) {
    #clm2-2 {
        height: 400px;
    }
}

@media screen and (max-width: 335px) {
    #clm2-1 {
        height: 450px;
    }
}

@media screen and (max-width: 329px) {
    .column2 h1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 326px) {
    #clm2-2 {
        height: 460px;
    }
}

@media screen and (max-width: 326px) {
    #clm2-2 {
        height: 500px;
    }
}


/* ---------------------------------------------------
   TITLE
----------------------------------------------------- */

.Title2 { float: left; width: 100%; padding: 10px; height: 200px; }
.Title2 h3 { text-align: center; font-size: 40px; font-family: 'Mandali', sans-serif; color: #00458a; }

/* ---------------------------------------------------
   TITLE ON SMALLER SCREENS
----------------------------------------------------- */

@media screen and (max-width: 1000px) {
    .Title2 {
        font-size: 45px;
    }
}

@media screen and (max-width: 619px) {
    .Title2 h3 {
        font-size: 35px;
    }

    .Title2 {
        height: 100px;
    }
}

@media screen and (max-width: 619px) {
    .Title2 h3 {
        font-size: 30px;
    }
}

@media screen and (max-width: 352px) {
    .Title2 h3 {
        font-size: 25px;
    }
}

/* ---------------------------------------------------
   THIRD LINE
----------------------------------------------------- */

.column3 { float: left; width: 50%; padding: 10px; height: 100px; }
.column3 img { margin-left: 100px; }
.column3 h1 { font-size: 30px; }
#clm3-4 { height: 120px; }
#clm { height: 150px; }
#sp { margin-left: 300px; }

.row:after { content: ""; display: table; clear: both; }

/* ---------------------------------------------------
   THIRD LINE ON SMALLER SCREENS
----------------------------------------------------- */

@media screen and (max-width: 1260px) {
    #clm3-4 {
        height: 130px;
    }
}

@media screen and (max-width: 1129px) {
    #clm3-4 {
        height: 130px;
    }
}

@media screen and (max-width: 1129px) {
    .column3 img {
        margin-left: 0px;
    }
}

@media screen and (max-width: 925px) {
    .column3 {
        width: 100%;
    }

    .column3 img {
        width: 40px;
    }

    #sp {
        margin-left: 0px;
    }

    #clm {
        height: 100px;
    }

    #clm3-4 {
        height: 100px;
    }

}

@media screen and (max-width: 619px) {
    .column3 h1 {
        font-size: 25px;
    }

    .column3 img {
        width: 20px;
    }

}

@media screen and (max-width: 352px) {
    .column3 h1 {
        font-size: 20px;
    }
}


/* ---------------------------------------------------
   FOURTH LINE
----------------------------------------------------- */

/* container 5 */
.container5 { width: 100%; height: 500px; background-color: transparent; }
.container5 h1 { text-align: center; font-size: 40px; margin-top: 100px; font-family: 'Mandali', sans-serif; }
/* container 5-one */
.container5-one { float: left; background-color: white; width: 300px; height: 300px; margin-left: 220px; border-radius: 15px 50px; box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
.container5-one h2 { text-align: center; font-size: 30px; }
.container5-one img { display: block; margin-left: auto; margin-right: auto; margin-top: 20px; }
.container5-one p { margin-top: -20px; text-align: center; color: #737373; }
/* button 2 */
.container5-one .button2 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    display: block; margin-left: auto; margin-right: auto; margin-top: 30px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1), 0 4px 15px 0 rgba(0,0,0,0.1);                                           
}

.container5-one .button2 { background-color: #daa520; color: white;  border: 2px solid #daa520; display: block; margin-left: auto; margin-right: auto; }

.container5-one .button2:hover { background-color: white; color: black; }

/* container 5-two */
.container5-two { float: left; background-color: transparent; width: 50px; height: 100px; margin-left: 130px; margin-top: 100px;  }
.container5-two h2 { text-align: center; font-size: 30px; font-family: 'Mandali', sans-serif; }
/* container 5-three */
.container5-three { float: left; background-color: white; width: 300px; height: 300px; margin-left: 120px; border-radius: 15px 50px; box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
.container5-three h2 { text-align: center; font-size: 30px; }
.container5-three img { display: block; margin-left: auto; margin-right: auto; margin-top: 20px; }
.container5-three p { margin-top: -20px; text-align: center; color: #737373; }

/* button 2 */
.container5-three .button2 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    display: block; margin-left: auto; margin-right: auto;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1), 0 4px 15px 0 rgba(0,0,0,0.1);
}

.container5-three .button2 { background-color: #daa520; color: white;  border: 2px solid #daa520; display: block; margin-left: auto; margin-right: auto; }

.container5-three .button2:hover { background-color: white; color: black; }

/* ---------------------------------------------------
   THIRD LINE FOR SMALLER SCREENS
----------------------------------------------------- */

@media (max-width: 1300px) {
	.container5-one { margin-left: 200px; }
	.container5-two { margin-left: 110px; }
	.container5-three { margin-left: 100px; }
}

@media (max-width: 1250px) {
	.container5-one { margin-left: 190px; }
	.container5-two { margin-left: 100px; }
	.container5-three { margin-left: 90px; }
}

@media (max-width: 1200px) {
	.container5-one { margin-left: 180px; }
	.container5-two { margin-left: 90px; }
	.container5-three { margin-left: 80px; }
}

@media (max-width: 1181px) {
	.container5 { height: 600px; }
	.container5-one { margin-left: 160px; }
	.container5-two { margin-left: 80px; }
	.container5-three { margin-left: 90px; }
}

@media (max-width: 1138px) {
	.container5-one { margin-left: 150px; }
	.container5-two { margin-left: 80px; }
	.container5-three { margin-left: 90px; }
}

@media (max-width: 1078px) {
	.container5-one { margin-left: 140px; }
	.container5-two { margin-left: 70px; }
	.container5-three { margin-left: 80px; }
}

@media (max-width: 1026px) {
	.container5-one { margin-left: 120px; }
	.container5-two { margin-left: 60px; }
	.container5-three { margin-left: 70px; }
}

@media (max-width: 986px) {
	/* container5-one */
	.container5-one { width: 250px; margin-left: 150px; }
	.container5-one button.button4 { margin-left: 85px; }
	/* container5-two */
	.container5-two { margin-left: 60px; }
	/* container5-three */
	.container5-three { width: 250px; margin-left: 70px; }
	.container5-three button.button4 { margin-left: 60px; }
}

@media (max-width: 954px) {
	.container5-one { margin-left: 130px; }
	.container5-two { margin-left: 60px; }
	.container5-three { margin-left: 70px; }
}

@media (max-width: 938px) {
	.container5-one { margin-left: 120px; }
	.container5-two { margin-left: 60px; }
	.container5-three { margin-left: 70px; }
}

@media (max-width: 878px) {
	.container5-one { margin-left: 95px; }
	.container5-two { margin-left: 60px; }
	.container5-three { margin-left: 70px; }
}

@media (max-width: 820px) {
	/* container5-one */
	.container5-one { width: 600px; margin-left: 100px; height: 250px; }
	.container5-one img { margin-top: 10px; }
	.container5-one .button2 { margin-left: 240px; margin-top: -1px; padding: 10px 28px; }
	/* container5-two */
	.container5-two { margin-top: 270px; margin-left: -320px;  }
	/* container5-three */
	.container5-three { width: 600px; height: 250px; margin-left: 110px; margin-top: 10px; }
	.container5-three img { margin-top: 10px; }
	.container5-three .button2 { margin-left: 210px; margin-top: -1px; padding: 10px 28px; }
}

@media (max-width: 790px) {
	/* container5-one */
	.container5-one { width: 600px; margin-left: 100px; height: 250px; }
	.container5-one img { margin-top: 10px; }
	/* container5-two */
	.container5-two { margin-top: 270px; margin-left: -320px;  }
	/* container5-three */
	.container5-three { width: 600px; height: 250px; margin-left: 110px; margin-top: 10px; }
	.container5-three img { margin-top: 10px; }
}

@media (max-width: 768px) {
	/* container5-one */
	.container5-one { width: 580px; margin-left: 90px; height: 250px; }
	.container5-one img { margin-top: 10px; }
	/* container5-two */
	.container5-two { margin-top: 270px; margin-left: -315px;  }
	/* container5-three */
	.container5-three { width: 580px; height: 250px; margin-left: 90px; margin-top: 10px; }
	.container5-three img { margin-top: 10px; }
}

@media (max-width: 762px) {
	/* container5-one */
	.container5-one { width: 580px; margin-left: 90px; height: 250px; }
	.container5-one img { margin-top: 10px; }
	.container5-one .button2 { margin-left: 227px; }
	/* container5-two */
	.container5-two { margin-top: 270px; margin-left: -315px;  }
	/* container5-three */
	.container5-three { width: 580px; height: 250px; margin-left: 95px; margin-top: 10px; }
	.container5-three img { margin-top: 10px; }
	.container5-three .button2 { margin-left: 205px; }
}

@media (max-width: 710px) {
	/* container5-one */
	.container5-one { width: 570px; margin-left: 60px; height: 250px; }
	.container5-one img { margin-top: 10px; }
	.container5-one .button2 { margin-left: 224px; }
	/* container5-two */
	.container5-two { margin-top: 270px; margin-left: -310px;  }
	/* container5-three */
	.container5-three { width: 570px; height: 250px; margin-left: 65px; margin-top: 10px; }
	.container5-three img { margin-top: 10px; }
	.container5-three .button2 { margin-left: 197px; }
}

@media (max-width: 682px) {
	/* container5-one */
	.container5-one { width: 560px; margin-left: 60px; height: 250px; }
	.container5-one img { margin-top: 10px; }
	.container5-one .button2 { margin-left: 218px; }
	/* container5-two */
	.container5-two { margin-top: 270px; margin-left: -310px;  }
	/* container5-three */
	.container5-three { width: 560px; height: 250px; margin-left: 65px; margin-top: 10px; }
	.container5-three img { margin-top: 10px; }
	.container5-three .button2 { margin-left: 190px; }
}

@media (max-width: 654px) {
	/* container5-one */
	.container5-one { width: 540px; margin-left: 45px; height: 250px; }
	.container5-one img { margin-top: 10px; }
	.container5-one .button2 { margin-left: 205px; }
	/* container5-two */
	.container5-two { margin-top: 270px; margin-left: -300px;  }
	/* container5-three */
	.container5-three { width: 540px; height: 250px; margin-left: 50px; margin-top: 10px; }
	.container5-three img { margin-top: 10px; }
	.container5-three .button2 { margin-left: 182px; }
}

@media (max-width: 606px) {
	/* container5-one */
	.container5-one { width: 520px; margin-left: 40px; height: 250px; }
	.container5-one img { margin-top: 10px; }
	.container5-one .button2 { margin-left: 197px; }
	/* container5-two */
	.container5-two { margin-top: 270px; margin-left: -290px;  }
	/* container5-three */
	.container5-three { width: 520px; height: 250px; margin-left: 45px; margin-top: 10px; }
	.container5-three img { margin-top: 10px; }
	.container5-three .button2 { margin-left: 171px; }
}

@media (max-width: 572px) {
	/* container5-one */
	.container5-one { width: 500px; margin-left: 35px; height: 250px; }
	.container5-one img { margin-top: 10px; }
	.container5-one .button2 { margin-left: 187px; }
	/* container5-two */
	.container5-two { margin-top: 270px; margin-left: -280px;  }
	/* container5-three */
	.container5-three { width: 500px; height: 250px; margin-left: 40px; margin-top: 10px; }
	.container5-three img { margin-top: 10px; }
	.container5-three .button2 { margin-left: 163px; }
}

@media (max-width: 554px) {
	/* container5-one */
	.container5-one { width: 480px; margin-left: 35px; height: 250px; }
	.container5-one img { margin-top: 10px; }
	.container5-one .button2 { margin-left: 176px; }
	/* container5-two */
	.container5-two { margin-top: 270px; margin-left: -265px;  }
	/* container5-three */
	.container5-three { width: 480px; height: 250px; margin-left: 40px; margin-top: 10px; }
	.container5-three img { margin-top: 10px; }
	.container5-three .button2 { margin-left: 152px; }
}

@media (max-width: 542px) {
	/* container5-one */
	.container5-one { width: 470px; margin-left: 30px; height: 250px; }
	.container5-one img { margin-top: 10px; }
	.container5-one .button2 { margin-left: 172px; }
	/* container5-two */
	.container5-two { margin-top: 270px; margin-left: -260px;  }
	/* container5-three */
	.container5-three { width: 470px; height: 250px; margin-left: 35px; margin-top: 10px; }
	.container5-three img { margin-top: 10px; }
	.container5-three .button2 { margin-left: 145px; }
}

@media (max-width: 528px) {
	/* container5-one */
	.container5-one { width: 460px; margin-left: 30px; height: 250px; }
	.container5-one img { margin-top: 10px; }
	.container5-one .button2 { margin-left: 166px; }
	/* container5-two */
	.container5-two { margin-top: 270px; margin-left: -255px;  }
	/* container5-three */
	.container5-three { width: 460px; height: 250px; margin-left: 35px; margin-top: 10px; }
	.container5-three img { margin-top: 10px; }
	.container5-three .button2 { margin-left: 144px; }
}

@media (max-width: 510px) {
	/* container5-one */
	.container5-one { width: 450px; margin-left: 30px; height: 250px; }
	.container5-one img { margin-top: 10px; }
	.container5-one .button2 { margin-left: 161px; }
	/* container5-two */
	.container5-two { margin-top: 270px; margin-left: -250px;  }
	/* container5-three */
	.container5-three { width: 450px; height: 250px; margin-left: 35px; margin-top: 10px; }
	.container5-three img { margin-top: 10px; }
	.container5-three .button2 { margin-left: 136px; }
}

@media (max-width: 500px) {
	/* container5-one */
	.container5-one { width: 440px; margin-left: 30px; height: 250px; }
	.container5-one img { margin-top: 10px; }
	.container5-one .button2 { margin-left: 157px; }
	/* container5-two */
	.container5-two { margin-top: 270px; margin-left: -245px;  }
	/* container5-three */
	.container5-three { width: 440px; height: 250px; margin-left: 35px; margin-top: 10px; }
	.container5-three img { margin-top: 10px; }
	.container5-three .button2 { margin-left: 131px; }
}

@media (max-width: 486px) {
	/* container5-one */
	.container5-one { width: 420px; margin-left: 30px; height: 250px; }
	.container5-one img { margin-top: 10px; }
	.container5-one .button2 { margin-left: 145px; }
	/* container5-two */
	.container5-two { margin-top: 270px; margin-left: -235px;  }
	/* container5-three */
	.container5-three { width: 420px; height: 250px; margin-left: 35px; margin-top: 10px; }
	.container5-three img { margin-top: 10px; }
	.container5-three .button2 { margin-left: 123px; }
}

@media (max-width: 468px) {
	.container5 h1 { font-size: 30px; }
	/* container5-one */
	.container5-one { width: 400px; margin-left: 30px; height: 250px; }
	.container5-one img { margin-top: 10px; }
	.container5-one .button2 { margin-top: -5px; margin-left: 137px; }
	/* container5-two */
	.container5-two { margin-top: 270px; margin-left: -225px;  }
	/* container5-three */
	.container5-three { width: 400px; height: 250px; margin-left: 35px; margin-top: 10px; }
	.container5-three img { margin-top: 10px; }
	.container5-three .button2 { margin-top: -5px; margin-left: 113px; }
}

@media (max-width: 450px) {
	/* container5-one */
	.container5-one { width: 390px; margin-left: 30px; height: 250px; }
	.container5-one img { margin-top: 10px; }
	.container5-one .button2 { margin-top: -5px; margin-left: 131px; }
	/* container5-two */
	.container5-two { margin-top: 270px; margin-left: -220px;  }
	/* container5-three */
	.container5-three { width: 390px; height: 250px; margin-left: 35px; margin-top: 10px; }
	.container5-three img { margin-top: 10px; }
	.container5-three .button2 { margin-top: -5px; margin-left: 106px; }
}

@media (max-width: 436px) {
	/* container5-one */
	.container5-one { width: 375px; margin-left: 30px; height: 250px; }
	.container5-one img { margin-top: 10px; }
	.container5-one h2 { margin-top: 15px; }
	.container5-one p { padding: 8px; }
	.container5-one .button2 { margin-top: -10px; margin-left: 125px; }
	/* container5-two */
	.container5-two { margin-top: 270px; margin-left: -210px;  }
	/* container5-three */
	.container5-three { width: 375px; height: 250px; margin-left: 30px; margin-top: 10px; }
	.container5-three img { margin-top: 10px; }
	.container5-three h2 { margin-top: 15px; }
	.container5-three p { padding: 8px; }
	.container5-three .button2 { margin-top: -5px; margin-left: 99px; }
}

@media (max-width: 425px) {
	/* container5-one */
	.container5-one { width: 365px; margin-left: 30px; height: 250px; }
	.container5-one img { margin-top: 10px; }
	.container5-one h2 { margin-top: 15px; }
	.container5-one p { padding: 8px; }
	.container5-one .button2 { margin-top: -10px; margin-left: 119px; }
	/* container5-two */
	.container5-two { margin-top: 270px; margin-left: -210px;  }
	/* container5-three */
	.container5-three { width: 365px; height: 250px; margin-left: 30px; margin-top: 10px; }
	.container5-three img { margin-top: 10px; }
	.container5-three h2 { margin-top: 15px; }
	.container5-three p { padding: 8px; }
	.container5-three .button2 { margin-top: -5px; margin-left: 95px; }
}

@media (max-width: 415px) {
	/* container5-one */
	.container5-one { width: 355px; margin-left: 30px; height: 250px; }
	.container5-one img { margin-top: 10px; }
	.container5-one h2 { margin-top: 15px; }
	.container5-one p { padding: 8px; }
	.container5-one .button2 { margin-top: -10px; margin-left: 114px; }
	/* container5-two */
	.container5-two { margin-top: 270px; margin-left: -205px;  }
	/* container5-three */
	.container5-three { width: 355px; height: 250px; margin-left: 30px; margin-top: 10px; }
	.container5-three img { margin-top: 10px; }
	.container5-three h2 { margin-top: 15px; }
	.container5-three p { padding: 8px; }
	.container5-three .button2 { margin-top: -5px; margin-left: 92px; }
}

@media (max-width: 400px) {
	/* container5-one */
	.container5-one { width: 345px; margin-left: 30px; height: 250px; }
	.container5-one img { margin-top: 10px; }
	.container5-one h2 { margin-top: 15px; }
	.container5-one p { padding: 8px; }
	.container5-one .button2 { margin-top: -10px; margin-left: 111px; }
	/* container5-two */
	.container5-two { margin-top: 270px; margin-left: -205px;  }
	/* container5-three */
	.container5-three { width: 345px; height: 250px; margin-left: 30px; margin-top: 10px; }
	.container5-three img { margin-top: 10px; }
	.container5-three p { padding: 8px; }
	.container5-three h2 { margin-top: 15px; }
	.container5-three .button2 { margin-top: -5px; margin-left: 85px; }
}

@media (max-width: 390px) {
	/* container5-one */
	.container5-one { width: 335px; margin-left: 30px; height: 250px; }
	.container5-one img { margin-top: 10px; }
	.container5-one h2 { margin-top: 15px; }
	.container5-one p { padding: 8px; }
	.container5-one .button2 { margin-top: -10px; margin-left: 106px; }
	/* container5-two */
	.container5-two { margin-top: 270px; margin-left: -195px;  }
	/* container5-three */
	.container5-three { width: 335px; height: 250px; margin-left: 30px; margin-top: 10px; }
	.container5-three img { margin-top: 10px; }
	.container5-three p { padding: 8px; }
	.container5-three h2 { margin-top: 15px; }
	.container5-three .button2 { margin-top: -5px; margin-left: 80px; }
}

@media (max-width: 384px) {
	/* container5-one */
	.container5-one { width: 325px; margin-left: 30px; height: 250px; }
	.container5-one img { margin-top: 10px; }
	.container5-one h2 { margin-top: 15px; }
	.container5-one p { padding: 8px; }
	.container5-one .button2 { margin-top: -10px; margin-left: 100px; }
	/* container5-two */
	.container5-two { margin-top: 270px; margin-left: -190px;  }
	/* container5-three */
	.container5-three { width: 325px; height: 250px; margin-left: 30px; margin-top: 10px; }
	.container5-three img { margin-top: 10px; }
	.container5-three p { padding: 8px; }
	.container5-three h2 { margin-top: 15px; }
	.container5-three .button2 { margin-top: -5px; margin-left: 76px; }
}

@media (max-width: 375px) {
	/* container5-one */
	.container5-one { width: 315px; margin-left: 30px; height: 250px; }
	.container5-one img { margin-top: 10px; }
	.container5-one h2 { margin-top: 15px; }
	.container5-one p { padding: 8px; }
	.container5-one .button2 { margin-top: -10px; margin-left: 98px; }
	/* container5-two */
	.container5-two { margin-top: 270px; margin-left: -185px;  }
	/* container5-three */
	.container5-three { width: 315px; height: 250px; margin-left: 30px; margin-top: 10px; }
	.container5-three img { margin-top: 10px; }
	.container5-three p { padding: 8px; }
	.container5-three h2 { margin-top: 15px; }
	.container5-three .button2 { margin-top: -5px; margin-left: 69px; }
}

@media (max-width: 370px) {
	/* container5-one */
	.container5-one { width: 315px; margin-left: 30px; height: 250px; }
	.container5-one img { margin-top: 10px; }
	.container5-one h2 { margin-top: 15px; }
	.container5-one p { padding: 8px; }
	.container5-one .button2 { margin-top: -10px; margin-left: 96px; }
	/* container5-two */
	.container5-two { margin-top: 270px; margin-left: -185px;  }
	/* container5-three */
	.container5-three { width: 315px; height: 250px; margin-left: 30px; margin-top: 10px; }
	.container5-three img { margin-top: 10px; }
	.container5-three p { padding: 8px; }
	.container5-three h2 { margin-top: 15px; }
	.container5-three .button2 { margin-top: -10px; margin-left: 69px; }
}

@media (max-width: 360px) {
	/* container5-one */
	.container5-one { width: 300px; margin-left: 30px; height: 250px; }
	.container5-one img { margin-top: 10px; }
	.container5-one h2 { margin-top: 15px; }
	.container5-one p { padding: 8px; }
	.container5-one .button2 { margin-top: -10px; margin-left: 90px; }
	/* container5-two */
	.container5-two { margin-top: 270px; margin-left: -175px;  }
	/* container5-three */
	.container5-three { width: 300px; height: 250px; margin-left: 30px; margin-top: 10px; }
	.container5-three img { margin-top: 10px; }
	.container5-three p { padding: 8px; }
	.container5-three h2 { margin-top: 15px; }
	.container5-three .button2 { margin-top: -10px; margin-left: 67px; }
}

@media (max-width: 350px) {
	/* container5-one */
	.container5-one { width: 290px; margin-left: 30px; height: 250px; }
	.container5-one img { margin-top: 10px; }
	.container5-one h2 { margin-top: 15px; }
	.container5-one p { padding: 8px; }
	.container5-one .button2 { margin-top: -10px; margin-left: 86px; }
	/* container5-two */
	.container5-two { margin-top: 270px; margin-left: -170px;  }
	/* container5-three */
	.container5-three { width: 290px; height: 250px; margin-left: 30px; margin-top: 10px; }
	.container5-three img { margin-top: 10px; }
	.container5-three p { padding: 8px; }
	.container5-three h2 { margin-top: 15px; }
	.container5-three .button2 { margin-top: -5px; margin-left: 60px; }
}

@media (max-width: 340px) {
	/* container5-one */
	.container5-one { width: 280px; margin-left: 30px; height: 250px; }
	.container5-one img { margin-top: 10px; }
	.container5-one h2 { margin-top: 15px; }
	.container5-one p { padding: 8px; }
	.container5-one .button2 { margin-top: -10px; margin-left: 80px; }
	/* container5-two */
	.container5-two { margin-top: 270px; margin-left: -165px;  }
	/* container5-three */
	.container5-three { width: 280px; height: 250px; margin-left: 30px; margin-top: 10px; }
	.container5-three img { margin-top: 10px; }
	.container5-three p { padding: 8px; }
	.container5-three h2 { margin-top: 15px; }
	.container5-three .button2 { margin-top: -5px; margin-left: 57px; }
}

@media (max-width: 320px) {
	/* container5-one */
	.container5-one { width: 260px; margin-left: 30px; height: 250px; }
	.container5-one img { margin-top: 10px; }
	.container5-one h2 { margin-top: 15px; }
	.container5-one p { padding: 8px; }
	.container5-one .button2 { margin-top: -10px; margin-left: 68px; }
	/* container5-two */
	.container5-two { margin-top: 270px; margin-left: -155px;  }
	/* container5-three */
	.container5-three { width: 260px; height: 250px; margin-left: 30px; margin-top: 10px; }
	.container5-three img { margin-top: 10px; }
	.container5-three p { padding: 8px; }
	.container5-three h2 { margin-top: 15px; }
	.container5-three .button2 { margin-top: -5px; margin-left: 45px;  }
}

/* ---------------------------------------------------
   FOOTER
----------------------------------------------------- */

* { box-sizing: border-box; }
.column4 { float: left; width: 25%; padding: 10px; height: 220px; }
.column4 h3 { padding-left: 20px; font-family: 'Mandali', sans-serif; color: whitesmoke; }
.column4 p { padding-left: 20px; font-size: 18px; color: whitesmoke; }

/* Facebook icon */
.column4 .socialIcons { padding-left: 20px; }
.socialIcons li { background-color: yellow; list-style: none; display: inline-block; margin: 4px; border-radius: 2em; overflow: hidden; }
.socialIcons li a { display: block; padding: .5em; min-width: 2.28571429em; max-width: 2.28571429em; height: 2.28571429em; white-space: nowrap; line-height: 1.5em; transition: .5s; text-decoration: none; font-family: calibri; color: #fff; }
.socialIcons li i { margin-right: .5em; }
.socialIcons li:hover a { max-width: 200px; padding-right: 1em; }
.socialIcons .facebook { background-color: #3b5998; }

/* Button */
.column4 .button2 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    display: block; margin-left: auto; margin-right: auto;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1), 0 4px 15px 0 rgba(0,0,0,0.1);
}

.column4 .button2 { background-color: #daa520; color: white;  border: 2px solid #daa520; display: block; margin-left: auto; margin-right: auto; }
.column4 .button2:hover { background-color: white; color: black; }

.row:after { content: ""; display: table; clear: both; }

/* ---------------------------------------------------
   FOOTER FOR SMALLER SCREENS
----------------------------------------------------- */

@media screen and (max-width: 925px) {
    #clm4-1 {
        width: 33.33%;
    }

    #clm4-2 {
        width: 33.33%;
    }

    #clm4-3 {
        width: 33.33%;
    }

    #clm4-4 { 
        width: 100%;
    }

    #clm4-4 h3 {
        text-align: center;
    }
}

@media screen and (max-width: 820px) {
    #clm4-1 {
        margin-top: 100px;
    }

    #clm4-2 {
        margin-top: 100px;
    }

    #clm4-3 {
        margin-top: 100px;
    }
}

@media screen and (max-width: 649px) {
    #clm4-1 {
        height: 240px;
    }

    #clm4-2 {
        height: 240px;
    }

    #clm4-3 {
        height: 240px;
    }
}

@media screen and (max-width: 463px) {
    #clm4-1 {
        height: 240px;
        width: 50%;
    }

    #clm4-2 {
        width: 50%;
        height: 240px;
    }

    #clm4-3 {
        width: 50%;
        height: 220px;
    }

    #clm4-4 {
        width: 50%;
    }
}

@media screen and (max-width: 463px) {
    #clm4-3 {
        height: 240px;
        margin-top: 0px;
    }

    #clm4-4 {
        height: 240px;
    }
}

@media screen and (max-width: 430px) {
    #clm4-1 {
        width: 100%;
        height: 190px;
    }

    #clm4-2 {
        width: 100%;
        height: 140px;
        margin-top: 0px;
    }

    #clm4-3 {
        width: 100%;
        height: 190px
    }

    #clm4-4 {
        width: 100%;
        height: 190px
    }
}


/* ---------------------------------------------------
   FOOTER X
----------------------------------------------------- */

* { box-sizing: border-box; }
.column5 { float: left; width: 100%; padding: 10px; height: 50px; }
.column5 p { text-align: center; font-size: 15px; margin-top: 5px; color: whitesmoke; }

.row:after { content: ""; display: table; clear: both; }

/* ---------------------------------------------------
   FOOTER X FOR SMALLER SCREENS
----------------------------------------------------- */

@media screen and (max-width: 925px) {
    .column5 {
        width: 100%;
    }
}

