body { margin: 0; padding: 0; font-family: calibri; }

/* LOGO */
.logo { float: left; margin-top: 10px; }
.logo img { width: 700px; transition: .5s; }

/* NAVBAR */
nav { position: absolute; top: 15%; left: 10%; transform: translate(-50%, -50%;); }
a { color: black; text-align: center; text-decoration: none; width: 120px; padding: 1em 0; display: inline-block; font-weight: bold; transition: all .4s ease-in-out; }
a:hover { color: darkgreen; }
.line { width: 120px; height: 3px; background-color: black; transition: all .4s ease-in-out; }
a:nth-child(2):hover ~  .line { transform: translate(120px); transition: all .4s ease-in-out; }
a:nth-child(3):hover ~  .line { transform: translate(245px); transition: all .4s ease-in-out; }
a:nth-child(4):hover ~  .line { transform: translate(490px); transition: all .4s ease-in-out; }
a:nth-child(5):hover ~  .line { transform: translate(570px); transition: all .4s ease-in-out; }
a:nth-child(6):hover ~  .line { transform: translate(570px); transition: all .4s ease-in-out; }

.one { float: left; margin-top: 40px; margin-left: 50%; display: none; }





