body { background-color: whitesmoke;}

/* NAVBAR */
.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
.navbar-nav  li a:hover {
      color: black !important;
  }

/* CONTENT */
.person { border: 10px solid transparent; margin-bottom: 25px; width: 80%; height: 80%; opacity: 0.7; }
.person:hover { border-color: beige; }

#footer-x { background-color: darkgreen; height: 20%; margin-top: 20px; }
footer .glyphicon { font-size: 20px; margin-bottom: 50px; color: whitesmoke; position: relative; top: 20px; }