body { margin: 0; padding: 0; background-color: whitesmoke; }

/* NAVBAR */
.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
.navbar-nav  li a:hover {
      color: black !important;
  }


/* CONTENT */
#content { margin: 10px; background-color: beige; width: 1200; height: 1000px; }
div.gallery { margin: 20px;  margin-left: 100px; border: 1px solid #ccc; float: left; width: 300px; }
div.gallery:hover { border: 1px solid #777; }
div.gallery img { width: 100%; height: auto; }
div.gallery img:hover { opacity: 0.8; filter: alpha(opacity=50); }
div.desc { padding: 15px; text-align: center; }