body, html { margin: 0; padding: 0; }

/* NAVBAR */
.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
.navbar-nav  li a:hover {
      color: darkgreen !important;
  }


/* ARROW DOWN */
.circle { position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); border: 2px solid #fff; border-radius: 50%; width: 100px; height: 100px; text-align: center; line-height: 110px; font-size: 80px; overflow: hidden; top: 570px; }
.circle .fa { color: #fff; margin: 0; padding: 0; animation: animate 1s linear infinite; }

@keyframes animate { 
    0% { transform: translateY(-50px); text-shadow: 0 50px 0 #fff; }
    20% { transform: translateY(0px); text-shadow: 0 10px 0 #fff; }
    40% { transform: translateY(0px); text-shadow: 0 -10px 0 #fff; }
    60% { transform: translateY(0px); text-shadow: 0 0px 0 #fff; }
    100% { transform: translateY(100px); text-shadow: 0 50px 0 #fff; }
}

.circle::before { content: 'SCROLL DOWN'; position: absolute; color: #fff; font-family: arial; font-size: 10px; left: 12px; top: -22px; }

/* PARALLAX */
.parallax { background-image: url('img/fascback.jpg'); height: 100%; background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover; position: relative;  top: -20px; z-index: -1; width: auto; }

.logo1 { position: relative; top: 100px; left: 70px; color: white; font-family: calibri; font-weight: 700; font-size: 100px; width: 5px;}
.logo2 { position: relative; top: 85px; left: 75px; color: white; font-family: times new roman; font-size: 25px; width: 5px; }

.logo { width: 100px; position: absolute; top: 10px; left: 220px; }


/* WELCOME */
.parallax-1 { background-image: url('img/fascback.jpg'); height: 55%; background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover; position: relative;  top: -50px; width: auto; opacity: .3; }
hr.style12 { height: 6px; background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0; border: 0; }

/* ACTIVITIES */
.slideanim {visibility:hidden;}
.slide { animation-name: slide; -webkit-animation-name: slide; animation-duration: 1s; -webkit-animation-duration: 1s; visibility: visible; }
 
/* NEWS */
#bg-grey { padding: 60px 50px; }

/* THIRD SECTION */


/* SOCIAL MEDIA */
#social { background: url(img/black.jpg); position: relative; top: -170px;}
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }
#social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }

/* FOOTER */
#footer-x { background-color: whitesmoke; }
footer .glyphicon { font-size: 20px; margin-bottom: 30px; color: darkgreen; position: relative; top: 20px;}

@keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }
  @media screen and (max-width: 350px) {
    .parallax {
        width: 35px;
		margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 10px;) {
	.logo1 {
		font-size: 10px;
	}
  }
  
