body { padding: 0; margin: 0; background: url(img/backlogo2.png); }

/* NAVBAR */
#nav { position: absolute; color: white; background-color: #0a1769; width: 100%; height: 80px; -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, .25); border-bottom: 4px solid black; }
.pic { margin-top: 10px; margin-left: 1250px; }
.wc { margin-top: -50px; margin-left: 1020px; font-family: calibri; }

/* CONTENT */
#content { position: absolute; margin: 200px; float: left; margin-left: 564px; }
button {  border: none;  padding: 16px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 10px 12px; -webkit-transition-duration: 0.4s; /* Safari */ transition-duration: 0.4s; cursor: pointer; }
.button1 { background-color: white;  color: black;  border: 2px solid #4CAF50; }
.button1:hover { background-color: #4CAF50; color: white; }
.button3 { background-color: #f44336;  color: black;  border: 2px solid #f44336; }
.button3:hover { background-color: white; color: white; }