body, html { margin: 0; padding: 0; background-color: whitesmoke; }

/* NAVBAR */
.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
.navbar-nav  li a:hover {
      color: black !important;
  }
  
/* CONTENT */  
.first { border: 1px solid #ccc; border-radius: 4px; resize: vertical; width: 200px; padding: 5px 10px; }
.middle { float: left; margin-top: -72px; margin-left: 250px; }
#input-middle { border: 1px solid #ccc; border-radius: 4px; resize: vertical; width: 200px; padding: 5px 10px; } 
.last { float: left; margin-top: -133px; margin-left: 505px; }
#input-last { border: 1px solid #ccc; border-radius: 4px; resize: vertical; width: 200px; padding: 5px 10px; } 
.email { float: left; margin-top: -85px; }
#input-email { border: 1px solid #ccc; border-radius: 4px; resize: vertical; width: 450px; padding: 5px 10px; }
.contact { float: left; margin-top: -105px; margin-left: 505px; }
#input-contact { border: 1px solid #ccc; border-radius: 4px; resize: vertical; width: 200px; padding: 5px 10px; } 
.current { float: left; margin-top: -65px; }
#input-current { border: 1px solid #ccc; border-radius: 4px; resize: vertical; width: 450px; padding: 5px 10px; }
.select { margin-left: -60px; border: 1px solid #ccc; border-radius: 4px; resize: vertical; width: 500px; padding: 5px 10px; }
.Message { float: left; margin-top: 40px; }
#input-Message { margin-left: -60px; border: 1px solid #ccc; border-radius: 4px; resize: vertical; width: 550px; height: 200px; padding: 5px 10px; }

/* submit button */
.submit { position: absolute; margin-top: 250px; margin-left: -550px; }