body, html { height: 0; background-color: #f1f1f1;}

/* GOOGLE MAP */
#map { width: 100%; background-color: darkgreen; text-align: center; font-family: fantasy; }

/* FOOTER */
#footer-B { background-color: darkgreen; height: 100%; }