body { margin: 0; padding: 0; background: url(img/backlogo2.png); font-family: sans-serif; }

/* CONTENT */
/* login box */
.loginBox { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 350px; min-height: 200px; background: #fff; border-radius: 10px; padding: 40px; box-sizing: border-box; border: 2px solid darkgreen; }
.loginBox input { width: 100%; margin-bottom: 20px; }
.loginBox input[type="submit"]:hover { background-color: whitesmoke; color: black; transition: .5s; }
.loginBox input[type="text"],
.loginBox input[type="password"] { border: none; border-bottom: 2px solid #262626; outline: none; height: 40px; color: #262626; background: transparent; font-size: 16px; padding-left: 20px; box-sizing: border-box; }
.loginBox input[type="text"]:focus,
.loginBox input[type="password"]:focus { border-bottom: 2px solid #f00; } 
.inputBox { position: relative; }
.inputBox span { position: absolute; top: 10px; color: #262626; }
.loginBox input[type="submit"] { border: none; outline: none; height: 40px; font-size: 16px; background: #ed292a; color: #fff; border-radius: 20px; cursor: pointer; }
.loginBox a { color: #262626; font-size: 14px; font-weight: bold; text-decoration: none; text-align: center; display: block; }
.loginBox a:hover { color: darkgreen; transition: .5s; }

/* image */
.user { margin: 0 auto; display: block; margin-bottom: 20px; }
h3	{ margin: 0; padding: 0 0 20px; color: #262626; text-align: center; }