body { margin: 0; padding: 0; background-color: whitesmoke; }

/* NAVBAR */
.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
.navbar-nav  li a:hover {
      color: black !important;
  }