body { background: url(img/backlogo2.png); }
#new { margin: 50px; margin-top: 10px; background-color: whitesmoke; width: 1220px; height: 550px;  color: white; border: 6px solid darkgreen; }

/* Search box */
.first-layer { width: 100%; height: 45px; background-color: darkgreen; }
.search { margin: 10px; float: right; font-family: calibri;}
.searchlay { border: 1px solid #ccc; border-radius: 4px; resize: vertical; padding: 5px 10px; }

/* Input box second layer */
.center-content { background-color: beige; width: 100%; height: 170px; }
.second-layer { margin-left: 20px; color: black; font-size: 13px; }
.ID { margin-top: 20px; margin-left: 10px;  font-family: calibri; }
.StdntID { border: 1px solid #ccc; border-radius: 4px; resize: vertical; width: 200px; }
.name  { margin-top: 10px; margin-left: 10px;  font-family: calibri; }
.firstname { border: 1px solid #ccc; border-radius: 4px; resize: vertical; width: 200px; }
.type { margin-top: 10px; margin-left: 10px;  font-family: calibri; }
.stdntType { border: 1px solid #ccc; border-radius: 4px; resize: vertical; width: 200px; }

/* Input box third layer */
.third-layer { float: left; margin-left: 300px; margin-top: -165px; font-family: calibri; font-size: 13px; color: black; }
.age { border: 1px solid #ccc; border-radius: 4px; resize: vertical; width: 70px; }
.radio { margin-top: -20px; margin-left: 90px; }
.birthdate { margin-top: 10px;  }
.birth { border: 1px solid #ccc; border-radius: 4px; resize: vertical; width: 200px; }
.birthplace { margin-top: 5px; }
.place { border: 1px solid #ccc; border-radius: 4px; resize: vertical; width: 200px; }
.religion { margin-top: 10px; }
.religion-1 { border: 1px solid #ccc; border-radius: 4px; resize: vertical; width: 200px; }

/* Input box fourth layer */
.fourth-layer { float: right; margin-right: 450px; color: black; margin-top: -165px; font-family: calibri; font-size: 13px; }
.fthrname { border: 1px solid #ccc; border-radius: 4px; resize: vertical; width: 200px; }
.mother { margin-top: 10px; }
.mthrname {  border: 1px solid #ccc; border-radius: 4px; resize: vertical; width: 200px; }
.address { margin-top: 10px; }
.present { border: 1px solid #ccc; border-radius: 4px; resize: vertical; width: 200px; height: 55px; }

/* Input box fifth layer */
.fifth-layer { float: right; color: black; margin-right: 230px; margin-top: -165px; font-family: calibri; font-size: 13px; }
.contact { border: 1px solid #ccc; border-radius: 4px; resize: vertical; width: 150px;  }
.strands { margin-top: 10px; }
.level { border: 1px solid #ccc; border-radius: 4px; resize: vertical; width: 100px; }
.time { margin-top: 10px; }
.sched { border: 1px solid #ccc; border-radius: 4px; resize: vertical; width: 150px; }

/* footer Button */
.btn {  float: right; margin-right: 100px; margin-top: -30px;  }
.btn-1 {background-color: #2f3640; border: none; color: white; padding: 12px 16px; font-size: 15px; font-family: calibri; cursor: pointer; border-radius: 40px; }
.btn-1:hover { background-color: darkgreen; }
