body { margin: 0; padding: 0; background: url(img/backlogo2.png); }
#new { margin: 50px; margin-top: 10px; background-color: whitesmoke; width: 1220px; height: 550px; color: white; border: 6px solid darkgreen; box-shadow:20px 20px 10px grey; }

.nav { background-color: darkgreen; width: 100%; height: 60px; }
.year { color: white; font-family: calibri; float: left; margin-left: 20px; margin-top: 25px; }

.grd { color: white; font-family: calibri; float: left; margin-top: 25px; }
.grade { margin-top: 20px; width: 170px; border: 1px solid #ccc; border-radius: 4px; resize: vertical; padding: 5px 6px; }

/* footer button */
.btn { float: right; margin-right: 100px; margin-top: -30px; }
.btn-1 { background-color: #2f3640; border: none; color: white; padding: 12px 16px; font-size: 15px; font-family: calibri; cursor: pointer; border-radius: 40px; }
.btn-1:hover { background-color: darkgreen; }