body { margin: 0; padding: 0; background-color: whitesmoke;}
.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
.navbar-nav  li a:hover {
      color: black !important;
  }
.thumbnail { padding: 0 0 15px 0; border: none; border-radius: 0; }
.thumbnail img { width: 100%; height: 100%; margin-bottom: 10px; }