body { margin: 0; padding: 0; background: url(img/backlogo2.png); }

/* NAVBAR */
#nav { position: absolute; color: white; background-color: #0a1769; width: 100%; height: 80px; -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, .25); border-bottom: 4px solid black;  }
.pic { margin-top: 10px; margin-left: 1250px; }
.wc { margin-top: -50px; margin-left: 1020px; font-family: calibri; }

/* CONTENT */
#content { position: absolute; margin: 50px; margin-top: 110px; width: 1240px; height: 600px; background-color: whitesmoke;  border: 6px solid darkgreen; box-shadow:20px 20px 10px grey; }
.top { width: 100%; height: 60px; background-color: darkgreen; }

.btn { float: right; margin: 10px;s background-color: whitesmoke; border: none; color: white; padding: 11px 11px; font-size: 13px; font-family: calibri; cursor: pointer; border-radius: 40px; }
.btn:hover { background-color: white; }

.nme { color: white; font-family: calibri; float: left; margin: 20px; margin-top: 15px; }

/* CONTENT first layer */
.center-content { background-color: beige; width: 100%; height: 170px; }
.first-layer { float: left; margin: 10px; margin-left: 200px; font-family: calibri; }
.acad { border: 1px solid #ccc; border-radius: 4px; resize: vertical; width: 200px; }
.second-layer { float: left; margin: 10px; margin-left: 100px; font-family: calibri; }
.third-layer { float: left; margin: 10px; margin-left: 100px; font-family: calibri; }


/* BACK BUTTON */
.btn-footer { float: right; margin-right: 50px; margin-top: 750px;  }
.btn-1 {background-color: #2f3640; border: none; color: white; padding: 12px 16px; font-size: 15px; font-family: calibri; cursor: pointer; border-radius: 40px; }
.btn-1:hover { background-color: darkgreen; }