body { padding: 0; margin: 0; background-color: darkgreen; }

/* LOGO */
.logo { padding: 150px; margin-left: 350px; }

/* BUTTON */
#button-left { position: absolute; top: 225px; margin-left: 140px; }
button { padding: 26px 36px; border-radius: 4px; cursor: pointer; border: 2px solid black; background: linear-gradient(45deg, white 50%, black 50%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; position: relative; }
button:after { content: ""; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: linear-gradient(45deg, green 50%, white 50%); z-index: -1; }
button,button:after { background-size: 300%; background-position: 100%; transition: 1s; }
button:hover,button:hover:after { background-position: 0; }

#button-right { position: absolute; top: 225px; margin-left: 840px; }

/* NAVBAR */
#nav { position: absolute; color: white; background-color: #0a1769; width: 100%; height: 80px; -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, .25); border-bottom: 4px solid black; }
.pic { margin-top: 10px; margin-left: 1250px; }
.wc { margin-top: -50px; margin-left: 1020px; font-family: calibri; }