body { margin: 0; padding: 0; background: url(img/backlogo2.png); }

/* NAVBAR */
#nav { position: absolute; color: white; background-color: #0a1769; width: 100%; height: 80px; -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, .25); border-bottom: 4px solid black; }
.pic { margin-top: 10px; margin-left: 1250px; }
.wc { margin-top: -50px; margin-left: 1020px; font-family: calibri; }

/* CONTENT */
#content { position: absolute; margin: 50px; margin-top: 110px; width: 1240px; height: 500px; background-color: whitesmoke;  border: 6px solid darkgreen; box-shadow:20px 20px 10px grey; }
.top { width: 100%; height: 60px; background-color: darkgreen; }

.btn { margin: 10px; background-color: whitesmoke; border: none; color: white; padding: 11px 11px; font-size: 13px; font-family: calibri; cursor: pointer; border-radius: 40px; }
.btn:hover { background-color: white; }

/* Search box */
.search-box { position: absolute; top: 14px; background: whitesmoke; height: 40px; border-radius: 40px; padding: 2px; margin: -8px; margin-left: 10px; }
.search-box:hover > .search-txt { width: 240px; padding: 0 6px; }
.search-box:hover > .search-btn { background: white; }
.search-btn { color: darkblue; float: left; width: 40px; height: 40px; border-radius: 100%; background: whitesmoke; display: flex; justify-content: center; align-items: center; transition: 0.4s; line-height: 20px; }
.search-txt { border: none; background: none; outline: none; float: left; padding: 0; color: black; font-size: 13px; transition: 0.4s; line-height: 40px; width: 0px; }

/* footer Button */
.btn-footer { float: right; margin-top: 650px; margin-right: 50px; }
.btn-1 { background-color: #2f3640; border: none; color: white; padding: 12px 16px; font-size: 15px; font-family: calibri; cursor: pointer; border-radius: 40px; } 
.btn-1:hover { background-color: darkgreen; }