body { margin: 0; padding: 0; font-family: sans-serif; }

/* NAV BAR */
.navbar { position: absolute; margin: 0; padding: 0; width: 100%; background-color: white; -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25); border-bottom: 4px solid darkblue; }
.navbar ul {  list-style-type: none; margin: 0; padding: 0; font-weight: 600;  }
.navbar ul li { float: left; width: 170px; height: 40px;  line-height: 40px; text-align: center; font-size: 13px; }
.navbar ul li a { text-decoration: none; color: black; display: block; text-transform: uppercase; }
.navbar ul li a:hover { color: green; }
.navbar ul li ul li { display: none;  background-color: whitesmoke; -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25); }
.navbar ul li:hover ul li { display: block; }
.dropdown { position: relative; border-top: 4px solid darkblue; }

/* ARROW
.arrow-up { width: 0; height: 0; position: absolute; border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #fff; right: 1070px; top: 40px; color: whitesmoke; display: none; } */

/* SIDE NAV BAR 
.btn { display: none; position: absolute; right: 20px; }
.btn:hover > span { background: #6ab04c; }
.btn span { display: block; margin: 6px; width: 40px; height: 3px; background: white; margin-top: 10px; } */


/* IMAGE SLIDER */
.slideshow-container { width: 100%; position: relative; margin: auto; margin-top: 600px; z-index: -1;  }

/* Hide the images by default */
.mySlides { display: none; }

/* Next & previous buttons */
.prev, .next { cursor: pointer; position: absolute; top: 50%; width: auto; margin-top: -22px; padding: 16px; color: white; font-weight: bold; font-size: 18px; transition: 0.6s ease; border-radius: 0 3px 3px 0; }

/* Position the "next button" to the right */
.next { right: 0; border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover { background-color: rgba(0,0,0,0.8); }

/* Caption text */
.text { color: #f2f2f2; font-size: 15px; padding: 8px 12px; position: absolute; bottom: 8px; width: 100%; text-align: center; }

/* Number text (1/3 etc) */
.numbertext { color: #f2f2f2; font-size: 12px; padding: 8px 12px; position: absolute; top: 0; }

/* The dots/bullets/indicators */
.dot { cursor:pointer; height: 15px; width: 15px; margin: 0 2px; background-color: #bbb; border-radius: 50%; display: inline-block; transition: background-color 0.6s ease; top:  }

.active, .dot:hover { background-color: #717171; }

/* Fading animation */
.fade { -webkit-animation-name: fade; -webkit-animation-duration: 1.5s;  animation-name: fade; animation-duration: 1.5s; }

@-webkit-keyframes fade { from {opacity: .4}  to {opacity: 1} }

@keyframes fade { from {opacity: .4} to {opacity: 1} }

/* IMAGE OVERLAY */
.container1 { position: relative; width: 20%; left: 20px; top: 10px;  }
.overlay1 { position: absolute; bottom: 100%; left: 0; background-color: green; overflow: hidden; width: 259px; height: 0; transition: .5s ease; cursor: pointer; }
.container1:hover .overlay1 { bottom: 0; height: 100%; }
.name1 { color: black; font-size: 20px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); text-align: center; border: 6px solid black; padding: 10px; font-family: sans-serif; }

.container2 { position: relative; width: 20%; left: 1050px; top: 10px; }
.overlay2 { position: absolute; bottom: 100%; left: 0; background-color: #00005f; overflow: hidden; width: 259px; height: 0; transition: .5s ease; cursor: pointer; }
.container2:hover .overlay2 { bottom: 0; height: 100%; }
.name2 { color: black; font-size: 20px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); text-align: center; border: 6px solid black; padding: 10px; font-family: sans-serif; }

/* PARALLAX */
.parallax1 { background: url('img/cc.jpg') no-repeat center; background-size: cover; background-attachment: fixed; height: 260px; width: 100%; }